In [1]:
import pandas as pd

#### E2O table

In [2]:
e2o_df = pd.read_csv('event_object.csv')
e2o_df = e2o_df['ocel_event_id;ocel_object_id;ocel_qualifier'].str.split(';', expand=True)
e2o_df.columns = ['ocel_event_id', 'ocel_object_id', 'ocel_qualifier']

In [3]:
len(e2o_df)

3259

In [4]:
e2o_df.head()

  ocel_event_id ocel_object_id         ocel_qualifier
0    Lodge_Pcp5           Pcp5     lodged pickup plan
1    Lodge_Pcp5            Cr2  cargo to be picked up
2    Lodge_Pcp3           Pcp3     lodged pickup plan
3    Lodge_Pcp3            Cr7  cargo to be picked up
4    Lodge_Pcp4           Pcp4     lodged pickup plan

#### O2O table

In [5]:
o2o_df = pd.read_csv('object_object.csv')
o2o_df = o2o_df['ocel_source_id;ocel_target_id;ocel_qualifier;ocel_time'].str.split(';', expand=True)
o2o_df.columns = ['ocel_source_id', 'ocel_target_id', 'ocel_qualifier','ocel_time']

In [6]:
len(o2o_df)

801

#### IoT2E table

In [7]:
e2IoTo_df = pd.read_csv('event_IoTobject.csv')
e2IoTo_df = e2IoTo_df['ocel_event_id;ocel_IoT_object_id;ocel_qualifier'].str.split(';', expand=True)
e2IoTo_df.columns = ['ocel_event_id', 'ocel_IoT_object_id', 'ocel_qualifier']

In [8]:
len(e2IoTo_df)

2373

#### IoT2O table

In [9]:
o2IoTo_df = pd.read_csv('object_IoTobject.csv')
o2IoTo_df = o2IoTo_df['ocel_IoTobject_id;ocel_object_id;ocel_qualifier;ocel_time'].str.split(';', expand=True)
o2IoTo_df.columns = ['ocel_IoTobject_id', 'ocel_object_id', 'ocel_qualifier','ocel_time']

In [10]:
len(o2IoTo_df)

1507

#### Event: LodgePickupPlan

In [11]:
event1_df = pd.read_csv('event_LodgePickupPlan.csv')
event1_df = event1_df['ocel_id;ocel_time'].str.split(';', expand=True)
event1_df.columns = ['ocel_id', 'ocel_time']

In [12]:
event1_df.head()

       ocel_id            ocel_time
0   Lodge_Pcp5  2024-04-29 07:58:10
1   Lodge_Pcp3  2024-04-29 08:02:04
2   Lodge_Pcp4  2024-04-29 08:07:56
3  Lodge_Pcp10  2024-04-29 08:39:14
4   Lodge_Pcp1  2024-04-29 08:49:30

In [13]:
len(event1_df)

10

In [14]:
lodge_e2o = pd.merge(event1_df, e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')

In [15]:
lodge_e2o

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,Lodge_Pcp5,2024-04-29 07:58:10,Lodge_Pcp5,Pcp5,lodged pickup plan
1,Lodge_Pcp5,2024-04-29 07:58:10,Lodge_Pcp5,Cr2,cargo to be picked up
2,Lodge_Pcp3,2024-04-29 08:02:04,Lodge_Pcp3,Pcp3,lodged pickup plan
3,Lodge_Pcp3,2024-04-29 08:02:04,Lodge_Pcp3,Cr7,cargo to be picked up
4,Lodge_Pcp4,2024-04-29 08:07:56,Lodge_Pcp4,Pcp4,lodged pickup plan
5,Lodge_Pcp4,2024-04-29 08:07:56,Lodge_Pcp4,Cr17,cargo to be picked up
6,Lodge_Pcp10,2024-04-29 08:39:14,Lodge_Pcp10,Pcp10,lodged pickup plan
7,Lodge_Pcp10,2024-04-29 08:39:14,Lodge_Pcp10,Cr6,cargo to be picked up
8,Lodge_Pcp1,2024-04-29 08:49:30,Lodge_Pcp1,Pcp1,lodged pickup plan
9,Lodge_Pcp1,2024-04-29 08:49:30,Lodge_Pcp1,Cr20,cargo to be picked up
10,Lodge_Pcp6,2024-04-29 08:51:38,Lodge_Pcp6,Pcp6,lodged pickup plan
11,Lodge_Pcp6,2024-04-29 08:51:38,Lodge_Pcp6,Cr18,cargo to be picked up
12,Lodge_Pcp2,2024-04-29 09:11:37,Lodge_Pcp2,Pcp2,lodged pickup plan
13,Lodge_Pcp2,2024-04-29 09:11:37,Lodge_Pcp2,Cr4,cargo to be picked up
14,Lodge_Pcp9,2024-04-29 09:59:05,Lodge_Pcp9,Pcp9,lodged pickup plan
15,Lodge_Pcp9,2024-04-29 09:59:05,Lodge_Pcp9,Cr9,cargo to be picked up
16,Lodge_Pcp8,2024-04-29 11:02:18,Lodge_Pcp8,Pcp8,lodged pickup plan
17,Lodge_Pcp8,2024-04-29 11:02:18,Lodge_Pcp8,Cr13,cargo to be picked up
18,Lodge_Pcp7,2024-04-29 11:33:45,Lodge_Pcp7,Pcp7,lodged pickup plan
19,Lodge_Pcp7,2024-04-29 11:33:45,Lodge_Pcp7,Cr1,cargo to be picked up

In [16]:
lodge_e2o_filtered = lodge_e2o[['ocel_event_id','ocel_time','ocel_object_id']]
lodge_e2o_filtered

   ocel_event_id            ocel_time ocel_object_id
0     Lodge_Pcp5  2024-04-29 07:58:10           Pcp5
1     Lodge_Pcp5  2024-04-29 07:58:10            Cr2
2     Lodge_Pcp3  2024-04-29 08:02:04           Pcp3
3     Lodge_Pcp3  2024-04-29 08:02:04            Cr7
4     Lodge_Pcp4  2024-04-29 08:07:56           Pcp4
5     Lodge_Pcp4  2024-04-29 08:07:56           Cr17
6    Lodge_Pcp10  2024-04-29 08:39:14          Pcp10
7    Lodge_Pcp10  2024-04-29 08:39:14            Cr6
8     Lodge_Pcp1  2024-04-29 08:49:30           Pcp1
9     Lodge_Pcp1  2024-04-29 08:49:30           Cr20
10    Lodge_Pcp6  2024-04-29 08:51:38           Pcp6
11    Lodge_Pcp6  2024-04-29 08:51:38           Cr18
12    Lodge_Pcp2  2024-04-29 09:11:37           Pcp2
13    Lodge_Pcp2  2024-04-29 09:11:37            Cr4
14    Lodge_Pcp9  2024-04-29 09:59:05           Pcp9
15    Lodge_Pcp9  2024-04-29 09:59:05            Cr9
16    Lodge_Pcp8  2024-04-29 11:02:18           Pcp8
17    Lodge_Pcp8  2024-04-29 11:02:18           Cr13
18    Lodge_Pcp7  2024-04-29 11:33:45           Pcp7
19    Lodge_Pcp7  2024-04-29 11:33:45            Cr1

#### Event: AssignTrucks

In [17]:
event2_df = pd.read_csv('event_AssignTrucks.csv')
event2_df = event2_df['ocel_id;ocel_time'].str.split(';', expand=True)
event2_df.columns = ['ocel_id', 'ocel_time']

In [18]:
event2_df.head()

           ocel_id            ocel_time
0  assign_trs_Pcp5  2024-05-01 10:12:39
1  assign_trs_Pcp5  2024-05-01 10:13:36
2  assign_trs_Pcp5  2024-05-01 10:14:36
3  assign_trs_Pcp5  2024-05-01 10:15:14
4  assign_trs_Pcp5  2024-05-01 10:15:34

In [19]:
len(event2_df)

433

In [20]:
assign_df1 = pd.merge(event2_df,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')

In [21]:
assign_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,assign_trs_Pcp5,2024-05-01 10:12:39,assign_trs_Pcp5,tr36,Pickup plan trucks assignment
1,assign_trs_Pcp5,2024-05-01 10:12:39,assign_trs_Pcp5,tr35,Pickup plan trucks assignment
2,assign_trs_Pcp5,2024-05-01 10:12:39,assign_trs_Pcp5,tr26,Pickup plan trucks assignment
3,assign_trs_Pcp5,2024-05-01 10:12:39,assign_trs_Pcp5,tr23,Pickup plan trucks assignment
4,assign_trs_Pcp5,2024-05-01 10:12:39,assign_trs_Pcp5,tr17,Pickup plan trucks assignment
...,...,...,...,...,...
19980,assign_trs_Pcp10,2024-06-03 10:03:17,assign_trs_Pcp10,tr49,Pickup plan trucks assignment
19981,assign_trs_Pcp10,2024-06-03 10:03:17,assign_trs_Pcp10,tr42,Pickup plan trucks assignment
19982,assign_trs_Pcp10,2024-06-03 10:03:17,assign_trs_Pcp10,tr47,Pickup plan trucks assignment
19983,assign_trs_Pcp10,2024-06-03 10:03:17,assign_trs_Pcp10,tr46,Pickup plan trucks assignment
19984,assign_trs_Pcp10,2024-06-03 10:03:17,assign_trs_Pcp10,tr23,Pickup plan trucks assignment

In [22]:
assign_merged_df = pd.merge(assign_df1, o2o_df, left_on=['ocel_object_id', 'ocel_time'], right_on=['ocel_source_id', 'ocel_time'], how='inner')

In [23]:
assign_merged_df2 = assign_merged_df.drop_duplicates()
assign_merged_df2

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_source_id,ocel_target_id,ocel_qualifier_y
0,assign_trs_Pcp5,2024-05-01 10:12:39,assign_trs_Pcp5,tr36,Pickup plan trucks assignment,tr36,Pcp5,Assigned truck for pickup plan
1,assign_trs_Pcp5,2024-05-01 10:13:36,assign_trs_Pcp5,tr35,Pickup plan trucks assignment,tr35,Pcp5,Assigned truck for pickup plan
2,assign_trs_Pcp5,2024-05-01 10:14:36,assign_trs_Pcp5,tr26,Pickup plan trucks assignment,tr26,Pcp5,Assigned truck for pickup plan
3,assign_trs_Pcp5,2024-05-01 10:15:14,assign_trs_Pcp5,tr23,Pickup plan trucks assignment,tr23,Pcp5,Assigned truck for pickup plan
4,assign_trs_Pcp5,2024-05-01 10:15:34,assign_trs_Pcp5,tr17,Pickup plan trucks assignment,tr17,Pcp5,Assigned truck for pickup plan
...,...,...,...,...,...,...,...,...
740,assign_trs_Pcp8,2024-05-31 16:47:54,assign_trs_Pcp8,tr50,Pickup plan trucks assignment,tr50,Pcp8,Assigned truck for pickup plan
743,assign_trs_Pcp8,2024-05-31 16:50:16,assign_trs_Pcp8,tr21,Pickup plan trucks assignment,tr21,Pcp8,Assigned truck for pickup plan
744,assign_trs_Pcp10,2024-05-31 17:32:12,assign_trs_Pcp10,tr46,Pickup plan trucks assignment,tr46,Pcp10,Assigned truck for pickup plan
745,assign_trs_Pcp8,2024-05-31 18:08:37,assign_trs_Pcp8,tr1,Pickup plan trucks assignment,tr1,Pcp8,Assigned truck for pickup plan
748,assign_trs_Pcp10,2024-06-03 10:03:17,assign_trs_Pcp10,tr23,Pickup plan trucks assignment,tr23,Pcp10,Assigned truck for pickup plan

In [24]:
assign_filtered = assign_merged_df2[['ocel_event_id','ocel_time','ocel_source_id','ocel_target_id']]
assign_filtered

        ocel_event_id            ocel_time ocel_source_id ocel_target_id
0     assign_trs_Pcp5  2024-05-01 10:12:39           tr36           Pcp5
1     assign_trs_Pcp5  2024-05-01 10:13:36           tr35           Pcp5
2     assign_trs_Pcp5  2024-05-01 10:14:36           tr26           Pcp5
3     assign_trs_Pcp5  2024-05-01 10:15:14           tr23           Pcp5
4     assign_trs_Pcp5  2024-05-01 10:15:34           tr17           Pcp5
..                ...                  ...            ...            ...
740   assign_trs_Pcp8  2024-05-31 16:47:54           tr50           Pcp8
743   assign_trs_Pcp8  2024-05-31 16:50:16           tr21           Pcp8
744  assign_trs_Pcp10  2024-05-31 17:32:12           tr46          Pcp10
745   assign_trs_Pcp8  2024-05-31 18:08:37            tr1           Pcp8
748  assign_trs_Pcp10  2024-06-03 10:03:17           tr23          Pcp10

[433 rows x 4 columns]

In [25]:
source_df =assign_filtered[['ocel_event_id', 'ocel_time', 'ocel_source_id']].rename(columns={'ocel_source_id': 'ocel_object_id'})
target_df = assign_filtered[['ocel_event_id', 'ocel_time', 'ocel_target_id']].rename(columns={'ocel_target_id': 'ocel_object_id'})

reshaped_assigned_df = pd.concat([source_df, target_df])

reshaped_assigned_df_sorted = reshaped_assigned_df.sort_values(by='ocel_time').reset_index(drop=True)
reshaped_assigned_df_sorted

        ocel_event_id            ocel_time ocel_object_id
0     assign_trs_Pcp5  2024-05-01 10:12:39           tr36
1     assign_trs_Pcp5  2024-05-01 10:12:39           Pcp5
2     assign_trs_Pcp5  2024-05-01 10:13:36           tr35
3     assign_trs_Pcp5  2024-05-01 10:13:36           Pcp5
4     assign_trs_Pcp5  2024-05-01 10:14:36           tr26
..                ...                  ...            ...
861  assign_trs_Pcp10  2024-05-31 17:32:12           tr46
862   assign_trs_Pcp8  2024-05-31 18:08:37           Pcp8
863   assign_trs_Pcp8  2024-05-31 18:08:37            tr1
864  assign_trs_Pcp10  2024-06-03 10:03:17           tr23
865  assign_trs_Pcp10  2024-06-03 10:03:17          Pcp10

[866 rows x 3 columns]

#### Event: Enterport

In [26]:
event3_df = pd.read_csv('event_Enterport.csv')
event3_df = event3_df['ocel_id;ocel_time'].str.split(';', expand=True)
event3_df.columns = ['ocel_id', 'ocel_time']
event3_df2 = event3_df.drop_duplicates()
len(event3_df2)

433

In [27]:
entry_df1 = pd.merge(event3_df2,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
entry_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck
1,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck
2,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck
3,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck
4,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck
...,...,...,...,...,...
3876,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck
3877,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck
3878,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck
3879,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck
3880,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck

In [28]:
entry_merged_df = pd.merge(entry_df1, e2IoTo_df, on='ocel_event_id', how='inner')
entry_merged_df

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_IoT_object_id,ocel_qualifier_y
0,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck,rfidPBXSPB,RFID tag read at entrance
1,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck,rfidPBXSPB,RFID tag read at entrance
2,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck,rfidPBXSPB,RFID tag read at entrance
3,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck,rfidPBXSPB,RFID tag read at entrance
4,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck,rfidPBXSPB,RFID tag read at entrance
...,...,...,...,...,...,...,...
36014,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck,rfidWVBFTX,RFID tag read at entrance
36015,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck,rfidWVBFTX,RFID tag read at entrance
36016,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck,rfidWVBFTX,RFID tag read at entrance
36017,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck,rfidWVBFTX,RFID tag read at entrance
36018,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck,rfidWVBFTX,RFID tag read at entrance

In [29]:
entry_merged_df2 = entry_merged_df.drop_duplicates()
entry_merged_df2

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_IoT_object_id,ocel_qualifier_y
0,trs_entrytr23,2024-05-01 15:22:37,trs_entrytr23,tr23,Entry evaluation for truck,rfidPBXSPB,RFID tag read at entrance
64,trs_entrytr3,2024-05-01 15:22:45,trs_entrytr3,tr3,Entry evaluation for truck,rfidCNJHRI,RFID tag read at entrance
164,trs_entrytr17,2024-05-01 15:26:00,trs_entrytr17,tr17,Entry evaluation for truck,rfidJLHJTQ,RFID tag read at entrance
213,trs_entrytr25,2024-05-01 15:52:37,trs_entrytr25,tr25,Entry evaluation for truck,rfidRGOUFR,RFID tag read at entrance
277,trs_entrytr40,2024-05-01 16:36:11,trs_entrytr40,tr40,Entry evaluation for truck,rfidRSRUSS,RFID tag read at entrance
...,...,...,...,...,...,...,...
35636,trs_entrytr43,2024-06-04 10:17:08,trs_entrytr43,tr43,Entry evaluation for truck,rfidPGFJDN,RFID tag read at entrance
35757,trs_entrytr46,2024-06-04 10:30:41,trs_entrytr46,tr46,Entry evaluation for truck,rfidOGWMQM,RFID tag read at entrance
35857,trs_entrytr21,2024-06-04 12:17:24,trs_entrytr21,tr21,Entry evaluation for truck,rfidDXYTZF,RFID tag read at entrance
35906,trs_entrytr42,2024-06-04 12:27:48,trs_entrytr42,tr42,Entry evaluation for truck,rfidSETHFQ,RFID tag read at entrance
35955,trs_entrytr44,2024-06-04 13:25:57,trs_entrytr44,tr44,Entry evaluation for truck,rfidWVBFTX,RFID tag read at entrance

In [30]:
entry_filtered = entry_merged_df2[['ocel_event_id','ocel_time','ocel_object_id','ocel_IoT_object_id']]
entry_filtered

       ocel_event_id            ocel_time ocel_object_id ocel_IoT_object_id
0      trs_entrytr23  2024-05-01 15:22:37           tr23         rfidPBXSPB
64      trs_entrytr3  2024-05-01 15:22:45            tr3         rfidCNJHRI
164    trs_entrytr17  2024-05-01 15:26:00           tr17         rfidJLHJTQ
213    trs_entrytr25  2024-05-01 15:52:37           tr25         rfidRGOUFR
277    trs_entrytr40  2024-05-01 16:36:11           tr40         rfidRSRUSS
...              ...                  ...            ...                ...
35636  trs_entrytr43  2024-06-04 10:17:08           tr43         rfidPGFJDN
35757  trs_entrytr46  2024-06-04 10:30:41           tr46         rfidOGWMQM
35857  trs_entrytr21  2024-06-04 12:17:24           tr21         rfidDXYTZF
35906  trs_entrytr42  2024-06-04 12:27:48           tr42         rfidSETHFQ
35955  trs_entrytr44  2024-06-04 13:25:57           tr44         rfidWVBFTX

[433 rows x 4 columns]

#### Event: WeighEmptyTruck

In [31]:
event4_df = pd.read_csv('event_WeighEmptyTruck.csv')
event4_df = event4_df['ocel_id;ocel_time'].str.split(';', expand=True)
event4_df.columns = ['ocel_id', 'ocel_time']
event4_df2 = event4_df.drop_duplicates()
len(event4_df2)

433

In [32]:
WeightSensors = o2IoTo_df[o2IoTo_df['ocel_IoTobject_id'].str.startswith('WS')]
WeightSensors

,ocel_IoTobject_id,ocel_object_id,ocel_qualifier,ocel_time
0,WS17,tr17,Weight sensor measuring empty truck weight,2024-05-01 15:35:46
1,WS07,tr3,Weight sensor measuring empty truck weight,2024-05-01 15:36:20
2,WS09,tr23,Weight sensor measuring empty truck weight,2024-05-01 15:47:26
3,WS19,tr40,Weight sensor measuring empty truck weight,2024-05-01 16:46:05
4,WS20,tr25,Weight sensor measuring empty truck weight,2024-05-01 17:16:28
...,...,...,...,...
1502,WS16,tr38,Weight sensor measuring loaded truck weight,2024-06-05 17:56:23
1503,WS07,tr4,Weight sensor measuring loaded truck weight,2024-06-06 08:11:59
1504,WS15,tr44,Weight sensor measuring loaded truck weight,2024-06-06 10:37:01
1505,WS03,tr8,Weight sensor measuring loaded truck weight,2024-06-06 15:25:45
1506,WS11,tr21,Weight sensor measuring loaded truck weight,2024-06-07 11:57:15

In [33]:
emptyw_merged_df = pd.merge(WeightSensors, event4_df2,on='ocel_time', how='inner')
emptyw_merged_df1 = emptyw_merged_df[['ocel_id','ocel_time','ocel_object_id','ocel_IoTobject_id']]
emptyw_merged_df1.rename(columns={'ocel_id': 'ocel_event_id','ocel_IoTobject_id':'ocel_IoT_object_id'}, inplace=True)

C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/3308096605.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emptyw_merged_df1.rename(columns={'ocel_id': 'ocel_event_id','ocel_IoTobject_id':'ocel_IoT_object_id'}, inplace=True)

In [34]:
emptyw_merged_df1

,ocel_event_id,ocel_time,ocel_object_id,ocel_IoT_object_id
0,weigh_empty_trucktr17,2024-05-01 15:35:46,tr17,WS17
1,weigh_empty_trucktr3,2024-05-01 15:36:20,tr3,WS07
2,weigh_empty_trucktr23,2024-05-01 15:47:26,tr23,WS09
3,weigh_empty_trucktr40,2024-05-01 16:46:05,tr40,WS19
4,weigh_empty_trucktr25,2024-05-01 17:16:28,tr25,WS20
...,...,...,...,...
428,weigh_empty_trucktr43,2024-06-04 10:37:38,tr43,WS16
429,weigh_empty_trucktr46,2024-06-04 10:40:41,tr46,WS07
430,weigh_empty_trucktr21,2024-06-04 13:24:46,tr21,WS16
431,weigh_empty_trucktr44,2024-06-04 13:33:54,tr44,WS15
432,weigh_empty_trucktr42,2024-06-04 13:37:03,tr42,WS02

#### Event: CheckEmptyTruckWeightAbnormality

In [35]:
event5_df = pd.read_csv('event_CheckEmptyTruckWeightAbnormality.csv')
event5_df = event5_df['ocel_id;ocel_time'].str.split(';', expand=True)
event5_df.columns = ['ocel_id', 'ocel_time']
event5_df2 = event5_df.drop_duplicates()
len(event5_df2)

433

In [36]:
check_df1 = pd.merge(event5_df2,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
check_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality
1,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality
2,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality
3,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality
4,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality
...,...,...,...,...,...
3876,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality
3877,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality
3878,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality
3879,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality
3880,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality

In [37]:
check_merged_df = pd.merge(check_df1, e2IoTo_df, on='ocel_event_id', how='inner')
check_merged_df

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_IoT_object_id,ocel_qualifier_y
0,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality,rfidCNJHRI,RFID tag read at empty truck weighing
1,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality,rfidCNJHRI,RFID tag read at empty truck weighing
2,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality,rfidCNJHRI,RFID tag read at empty truck weighing
3,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality,rfidCNJHRI,RFID tag read at empty truck weighing
4,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality,rfidCNJHRI,RFID tag read at empty truck weighing
...,...,...,...,...,...,...,...
36014,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality,rfidSETHFQ,RFID tag read at empty truck weighing
36015,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality,rfidSETHFQ,RFID tag read at empty truck weighing
36016,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality,rfidSETHFQ,RFID tag read at empty truck weighing
36017,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality,rfidSETHFQ,RFID tag read at empty truck weighing
36018,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality,rfidSETHFQ,RFID tag read at empty truck weighing

In [38]:
check_merged_df2 = check_merged_df .drop_duplicates()
check_merged_df2

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_IoT_object_id,ocel_qualifier_y
0,check_abnormalitytr3,2024-05-01 15:47:35,check_abnormalitytr3,tr3,truck exmained for empty weight abnormality,rfidCNJHRI,RFID tag read at empty truck weighing
100,check_abnormalitytr17,2024-05-01 15:58:00,check_abnormalitytr17,tr17,truck exmained for empty weight abnormality,rfidJLHJTQ,RFID tag read at empty truck weighing
149,check_abnormalitytr23,2024-05-01 16:54:39,check_abnormalitytr23,tr23,truck exmained for empty weight abnormality,rfidPBXSPB,RFID tag read at empty truck weighing
213,check_abnormalitytr40,2024-05-01 16:59:40,check_abnormalitytr40,tr40,truck exmained for empty weight abnormality,rfidRSRUSS,RFID tag read at empty truck weighing
313,check_abnormalitytr25,2024-05-01 18:43:07,check_abnormalitytr25,tr25,truck exmained for empty weight abnormality,rfidRGOUFR,RFID tag read at empty truck weighing
...,...,...,...,...,...,...,...
35636,check_abnormalitytr46,2024-06-04 10:47:40,check_abnormalitytr46,tr46,truck exmained for empty weight abnormality,rfidOGWMQM,RFID tag read at empty truck weighing
35736,check_abnormalitytr43,2024-06-04 10:55:49,check_abnormalitytr43,tr43,truck exmained for empty weight abnormality,rfidPGFJDN,RFID tag read at empty truck weighing
35857,check_abnormalitytr21,2024-06-04 13:35:57,check_abnormalitytr21,tr21,truck exmained for empty weight abnormality,rfidDXYTZF,RFID tag read at empty truck weighing
35906,check_abnormalitytr44,2024-06-04 14:39:08,check_abnormalitytr44,tr44,truck exmained for empty weight abnormality,rfidWVBFTX,RFID tag read at empty truck weighing
35970,check_abnormalitytr42,2024-06-04 14:43:20,check_abnormalitytr42,tr42,truck exmained for empty weight abnormality,rfidSETHFQ,RFID tag read at empty truck weighing

In [39]:
check_filtered = check_merged_df2[['ocel_event_id','ocel_time','ocel_object_id','ocel_IoT_object_id']]
check_filtered

,ocel_event_id,ocel_time,ocel_object_id,ocel_IoT_object_id
0,check_abnormalitytr3,2024-05-01 15:47:35,tr3,rfidCNJHRI
100,check_abnormalitytr17,2024-05-01 15:58:00,tr17,rfidJLHJTQ
149,check_abnormalitytr23,2024-05-01 16:54:39,tr23,rfidPBXSPB
213,check_abnormalitytr40,2024-05-01 16:59:40,tr40,rfidRSRUSS
313,check_abnormalitytr25,2024-05-01 18:43:07,tr25,rfidRGOUFR
...,...,...,...,...
35636,check_abnormalitytr46,2024-06-04 10:47:40,tr46,rfidOGWMQM
35736,check_abnormalitytr43,2024-06-04 10:55:49,tr43,rfidPGFJDN
35857,check_abnormalitytr21,2024-06-04 13:35:57,tr21,rfidDXYTZF
35906,check_abnormalitytr44,2024-06-04 14:39:08,tr44,rfidWVBFTX
35970,check_abnormalitytr42,2024-06-04 14:43:20,tr42,rfidSETHFQ

#### Event: FailtoWeigh

In [40]:
event6_df = pd.read_csv('event_FailtoWeigh.csv')
event6_df = event6_df['ocel_id;ocel_time'].str.split(';', expand=True)
event6_df.columns = ['ocel_id', 'ocel_time']
event6_df2 = event6_df.drop_duplicates()
len(event6_df2)

254

In [41]:
failWeigh_e2o = pd.merge(event6_df, e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
failWeigh_e2o

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,fail_weightr3,2024-05-01 17:22:01,fail_weightr3,tr3,Truck failed to be weighed
1,fail_weightr3,2024-05-01 17:22:01,fail_weightr3,tr3,Truck failed to be weighed
2,fail_weightr3,2024-05-01 17:22:01,fail_weightr3,tr3,Truck failed to be weighed
3,fail_weightr3,2024-05-01 17:22:01,fail_weightr3,tr3,Truck failed to be weighed
4,fail_weightr3,2024-05-01 17:22:01,fail_weightr3,tr3,Truck failed to be weighed
...,...,...,...,...,...
1609,fail_weightr46,2024-06-04 12:07:41,fail_weightr46,tr46,Truck failed to be weighed
1610,fail_weightr46,2024-06-04 12:07:41,fail_weightr46,tr46,Truck failed to be weighed
1611,fail_weightr42,2024-06-04 16:12:34,fail_weightr42,tr42,Truck failed to be weighed
1612,fail_weightr42,2024-06-04 16:12:34,fail_weightr42,tr42,Truck failed to be weighed
1613,fail_weightr42,2024-06-04 16:12:34,fail_weightr42,tr42,Truck failed to be weighed

In [42]:
failWeigh_merged = failWeigh_e2o.drop_duplicates()
failWeigh_merged

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,fail_weightr3,2024-05-01 17:22:01,fail_weightr3,tr3,Truck failed to be weighed
8,fail_weightr45,2024-05-02 09:21:08,fail_weightr45,tr45,Truck failed to be weighed
19,fail_weightr30,2024-05-02 10:03:39,fail_weightr30,tr30,Truck failed to be weighed
24,fail_weightr2,2024-05-02 10:08:19,fail_weightr2,tr2,Truck failed to be weighed
33,fail_weightr48,2024-05-02 10:12:21,fail_weightr48,tr48,Truck failed to be weighed
...,...,...,...,...,...
1585,fail_weightr50,2024-06-04 07:45:02,fail_weightr50,tr50,Truck failed to be weighed
1589,fail_weightr22,2024-06-04 09:45:50,fail_weightr22,tr22,Truck failed to be weighed
1596,fail_weightr40,2024-06-04 11:45:34,fail_weightr40,tr40,Truck failed to be weighed
1604,fail_weightr46,2024-06-04 12:07:41,fail_weightr46,tr46,Truck failed to be weighed
1611,fail_weightr42,2024-06-04 16:12:34,fail_weightr42,tr42,Truck failed to be weighed

In [43]:
len(failWeigh_merged)

254

In [44]:
failWeigh_filtered = failWeigh_merged[['ocel_event_id','ocel_time','ocel_object_id']]
failWeigh_filtered

       ocel_event_id            ocel_time ocel_object_id
0      fail_weightr3  2024-05-01 17:22:01            tr3
8     fail_weightr45  2024-05-02 09:21:08           tr45
19    fail_weightr30  2024-05-02 10:03:39           tr30
24     fail_weightr2  2024-05-02 10:08:19            tr2
33    fail_weightr48  2024-05-02 10:12:21           tr48
...              ...                  ...            ...
1585  fail_weightr50  2024-06-04 07:45:02           tr50
1589  fail_weightr22  2024-06-04 09:45:50           tr22
1596  fail_weightr40  2024-06-04 11:45:34           tr40
1604  fail_weightr46  2024-06-04 12:07:41           tr46
1611  fail_weightr42  2024-06-04 16:12:34           tr42

[254 rows x 3 columns]

In [45]:
len(failWeigh_filtered)

254

#### Event: ArriveatSilo

In [46]:
event7_df = pd.read_csv('event_ArriveatSilo.csv')
event7_df = event7_df['ocel_id;ocel_time'].str.split(';', expand=True)
event7_df.columns = ['ocel_id', 'ocel_time']
event7_df2 = event7_df.drop_duplicates()
len(event7_df2)

179

In [47]:
arrivalsilo_df1 = pd.merge(event7_df,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
arrivalsilo_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load
1,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load
2,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load
3,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load
4,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load
...,...,...,...,...,...
3766,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load
3767,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load
3768,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load
3769,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load
3770,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load

In [48]:
arrivalsilo_merged_df = pd.merge(arrivalsilo_df1, o2o_df, left_on=['ocel_object_id', 'ocel_time'], right_on=['ocel_source_id', 'ocel_time'], how='inner')
arrivalsilo_merged_df

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_source_id,ocel_target_id,ocel_qualifier_y
0,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr40,Aranged silo for truck
1,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr40,Aranged silo for truck
2,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr40,Aranged silo for truck
3,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr40,Aranged silo for truck
4,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr40,Aranged silo for truck
...,...,...,...,...,...,...,...,...
3766,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load,Silo8,tr44,Aranged silo for truck
3767,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load,Silo8,tr44,Aranged silo for truck
3768,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load,Silo8,tr44,Aranged silo for truck
3769,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load,Silo8,tr44,Aranged silo for truck
3770,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load,Silo8,tr44,Aranged silo for truck

In [49]:
arrivalsilo_merged_df2 = arrivalsilo_merged_df.drop_duplicates()
arrivalsilo_merged_df2

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_source_id,ocel_target_id,ocel_qualifier_y
0,arrive_at_Silo20,2024-05-02 08:03:30,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr40,Aranged silo for truck
33,arrive_at_Silo20,2024-05-02 08:05:47,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr17,Aranged silo for truck
66,arrive_at_Silo20,2024-05-02 08:50:02,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr25,Aranged silo for truck
99,arrive_at_Silo20,2024-05-02 09:30:45,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr23,Aranged silo for truck
132,arrive_at_Silo20,2024-05-02 09:55:28,arrive_at_Silo20,Silo20,Silo for truck load,Silo20,tr26,Aranged silo for truck
...,...,...,...,...,...,...,...,...
3653,arrive_at_Silo10,2024-06-04 10:43:41,arrive_at_Silo10,Silo10,Silo for truck load,Silo10,tr18,Aranged silo for truck
3676,arrive_at_Silo10,2024-06-04 12:21:37,arrive_at_Silo10,Silo10,Silo for truck load,Silo10,tr23,Aranged silo for truck
3699,arrive_at_Silo16,2024-06-04 14:13:08,arrive_at_Silo16,Silo16,Silo for truck load,Silo16,tr43,Aranged silo for truck
3726,arrive_at_Silo16,2024-06-04 15:38:26,arrive_at_Silo16,Silo16,Silo for truck load,Silo16,tr21,Aranged silo for truck
3753,arrive_at_Silo8,2024-06-04 16:58:30,arrive_at_Silo8,Silo8,Silo for truck load,Silo8,tr44,Aranged silo for truck

In [50]:
arrivalsilo_filtered = arrivalsilo_merged_df2[['ocel_event_id','ocel_time','ocel_source_id','ocel_target_id']]
arrivalsilo_filtered

         ocel_event_id            ocel_time ocel_source_id ocel_target_id
0     arrive_at_Silo20  2024-05-02 08:03:30         Silo20           tr40
33    arrive_at_Silo20  2024-05-02 08:05:47         Silo20           tr17
66    arrive_at_Silo20  2024-05-02 08:50:02         Silo20           tr25
99    arrive_at_Silo20  2024-05-02 09:30:45         Silo20           tr23
132   arrive_at_Silo20  2024-05-02 09:55:28         Silo20           tr26
...                ...                  ...            ...            ...
3653  arrive_at_Silo10  2024-06-04 10:43:41         Silo10           tr18
3676  arrive_at_Silo10  2024-06-04 12:21:37         Silo10           tr23
3699  arrive_at_Silo16  2024-06-04 14:13:08         Silo16           tr43
3726  arrive_at_Silo16  2024-06-04 15:38:26         Silo16           tr21
3753   arrive_at_Silo8  2024-06-04 16:58:30          Silo8           tr44

[179 rows x 4 columns]

In [51]:
len(arrivalsilo_filtered)

179

In [52]:
source_df = arrivalsilo_filtered[['ocel_event_id', 'ocel_time', 'ocel_source_id']].rename(columns={'ocel_source_id': 'ocel_object_id'})
target_df = arrivalsilo_filtered[['ocel_event_id', 'ocel_time', 'ocel_target_id']].rename(columns={'ocel_target_id': 'ocel_object_id'})

reshaped_arrivesilo_df = pd.concat([source_df, target_df])

reshaped_arrivesilo_df_sorted =reshaped_arrivesilo_df.sort_values(by='ocel_time').reset_index(drop=True)
reshaped_arrivesilo_df_sorted

        ocel_event_id            ocel_time ocel_object_id
0    arrive_at_Silo20  2024-05-02 08:03:30         Silo20
1    arrive_at_Silo20  2024-05-02 08:03:30           tr40
2    arrive_at_Silo20  2024-05-02 08:05:47           tr17
3    arrive_at_Silo20  2024-05-02 08:05:47         Silo20
4    arrive_at_Silo20  2024-05-02 08:50:02         Silo20
..                ...                  ...            ...
353  arrive_at_Silo16  2024-06-04 14:13:08         Silo16
354  arrive_at_Silo16  2024-06-04 15:38:26           tr21
355  arrive_at_Silo16  2024-06-04 15:38:26         Silo16
356   arrive_at_Silo8  2024-06-04 16:58:30          Silo8
357   arrive_at_Silo8  2024-06-04 16:58:30           tr44

[358 rows x 3 columns]

#### Event: DetermineContinuanceofPickup

In [53]:
event8_df = pd.read_csv('event_DetermineContinuanceofPickup.csv')
event8_df = event8_df['ocel_id;ocel_time'].str.split(';', expand=True)
event8_df.columns = ['ocel_id', 'ocel_time']
event8_df2 = event8_df.drop_duplicates()
len(event8_df2)

179

In [54]:
determine_df1 = pd.merge(event8_df2,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
determine_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance
1,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance
2,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance
3,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance
4,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance
...,...,...,...,...,...
3766,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance
3767,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance
3768,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance
3769,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance
3770,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance

In [55]:
determine_merged_df = pd.merge(determine_df1, e2IoTo_df, on='ocel_event_id', how='inner')
determine_merged_df

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_IoT_object_id,ocel_qualifier_y
0,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,Temp20,Temperature sensor for determining the pickup ...
1,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,Humd20,Humidity sensor for determining the pickup con...
2,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,GrainTemp58,1st grain temperature sensor for determining t...
3,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,GrainTemp59,2nd grain temperature sensor for determining t...
4,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,GrainTemp60,3rd grain temperature sensor for determining t...
...,...,...,...,...,...,...,...
450680,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,Temp8,Temperature sensor for determining the pickup ...
450681,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,Humd8,Humidity sensor for determining the pickup con...
450682,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,GrainTemp22,1st grain temperature sensor for determining t...
450683,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,GrainTemp23,2nd grain temperature sensor for determining t...
450684,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,GrainTemp24,3rd grain temperature sensor for determining t...

In [56]:
determine_merged_df2 = determine_merged_df.drop_duplicates()
determine_merged_df2

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier_x,ocel_IoT_object_id,ocel_qualifier_y
0,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,Temp20,Temperature sensor for determining the pickup ...
1,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,Humd20,Humidity sensor for determining the pickup con...
2,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,GrainTemp58,1st grain temperature sensor for determining t...
3,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,GrainTemp59,2nd grain temperature sensor for determining t...
4,determine_continuanceSilo20,2024-05-02 08:16:22,determine_continuanceSilo20,Silo20,silo evaluated for pickup continuance,GrainTemp60,3rd grain temperature sensor for determining t...
...,...,...,...,...,...,...,...
449065,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,Temp8,Temperature sensor for determining the pickup ...
449066,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,Humd8,Humidity sensor for determining the pickup con...
449067,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,GrainTemp22,1st grain temperature sensor for determining t...
449068,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,GrainTemp23,2nd grain temperature sensor for determining t...
449069,determine_continuanceSilo8,2024-06-04 18:28:52,determine_continuanceSilo8,Silo8,silo evaluated for pickup continuance,GrainTemp24,3rd grain temperature sensor for determining t...

In [57]:
determine_filtered = determine_merged_df2[['ocel_event_id','ocel_time','ocel_object_id','ocel_IoT_object_id']]
determine_filtered

,ocel_event_id,ocel_time,ocel_object_id,ocel_IoT_object_id
0,determine_continuanceSilo20,2024-05-02 08:16:22,Silo20,Temp20
1,determine_continuanceSilo20,2024-05-02 08:16:22,Silo20,Humd20
2,determine_continuanceSilo20,2024-05-02 08:16:22,Silo20,GrainTemp58
3,determine_continuanceSilo20,2024-05-02 08:16:22,Silo20,GrainTemp59
4,determine_continuanceSilo20,2024-05-02 08:16:22,Silo20,GrainTemp60
...,...,...,...,...
449065,determine_continuanceSilo8,2024-06-04 18:28:52,Silo8,Temp8
449066,determine_continuanceSilo8,2024-06-04 18:28:52,Silo8,Humd8
449067,determine_continuanceSilo8,2024-06-04 18:28:52,Silo8,GrainTemp22
449068,determine_continuanceSilo8,2024-06-04 18:28:52,Silo8,GrainTemp23
449069,determine_continuanceSilo8,2024-06-04 18:28:52,Silo8,GrainTemp24

#### Event: LoadTruck

In [58]:
event9_df = pd.read_csv('event_LoadTruck.csv')
event9_df = event9_df['ocel_id;ocel_time'].str.split(';', expand=True)
event9_df.columns = ['ocel_id', 'ocel_time']
event9_df2 = event9_df.drop_duplicates()
len(event9_df2)

179

In [59]:
load_df1 = pd.merge(event9_df2,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
load_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,load_trucktr17,2024-05-02 08:30:04,load_trucktr17,tr17,cargo load for truck
1,load_trucktr17,2024-05-02 08:30:04,load_trucktr17,tr17,cargo load for truck
2,load_trucktr17,2024-05-02 08:30:04,load_trucktr17,tr17,cargo load for truck
3,load_trucktr17,2024-05-02 08:30:04,load_trucktr17,tr17,cargo load for truck
4,load_trucktr40,2024-05-02 08:47:04,load_trucktr40,tr40,cargo load for truck
...,...,...,...,...,...
700,load_trucktr44,2024-06-05 07:39:50,load_trucktr44,tr44,cargo load for truck
701,load_trucktr44,2024-06-05 07:39:50,load_trucktr44,tr44,cargo load for truck
702,load_trucktr44,2024-06-05 07:39:50,load_trucktr44,tr44,cargo load for truck
703,load_trucktr44,2024-06-05 07:39:50,load_trucktr44,tr44,cargo load for truck
704,load_trucktr44,2024-06-05 07:39:50,load_trucktr44,tr44,cargo load for truck

In [60]:
load_merged = load_df1.drop_duplicates()
load_merged

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,load_trucktr17,2024-05-02 08:30:04,load_trucktr17,tr17,cargo load for truck
4,load_trucktr40,2024-05-02 08:47:04,load_trucktr40,tr40,cargo load for truck
6,load_trucktr38,2024-05-02 10:23:29,load_trucktr38,tr38,cargo load for truck
10,load_trucktr25,2024-05-02 10:56:26,load_trucktr25,tr25,cargo load for truck
14,load_trucktr23,2024-05-02 10:58:13,load_trucktr23,tr23,cargo load for truck
...,...,...,...,...,...
682,load_trucktr18,2024-06-04 11:57:23,load_trucktr18,tr18,cargo load for truck
687,load_trucktr23,2024-06-04 13:48:17,load_trucktr23,tr23,cargo load for truck
692,load_trucktr43,2024-06-04 14:26:18,load_trucktr43,tr43,cargo load for truck
695,load_trucktr21,2024-06-04 15:55:20,load_trucktr21,tr21,cargo load for truck
700,load_trucktr44,2024-06-05 07:39:50,load_trucktr44,tr44,cargo load for truck

In [61]:
load_filtered = load_merged[['ocel_event_id','ocel_time','ocel_object_id']]
load_filtered

      ocel_event_id            ocel_time ocel_object_id
0    load_trucktr17  2024-05-02 08:30:04           tr17
4    load_trucktr40  2024-05-02 08:47:04           tr40
6    load_trucktr38  2024-05-02 10:23:29           tr38
10   load_trucktr25  2024-05-02 10:56:26           tr25
14   load_trucktr23  2024-05-02 10:58:13           tr23
..              ...                  ...            ...
682  load_trucktr18  2024-06-04 11:57:23           tr18
687  load_trucktr23  2024-06-04 13:48:17           tr23
692  load_trucktr43  2024-06-04 14:26:18           tr43
695  load_trucktr21  2024-06-04 15:55:20           tr21
700  load_trucktr44  2024-06-05 07:39:50           tr44

[179 rows x 3 columns]

In [62]:
len(load_merged)

179

#### Event: WeighLoadedTruck

In [63]:
event10_df = pd.read_csv('event_WeighLoadedTruck.csv')
event10_df = event10_df['ocel_id;ocel_time'].str.split(';', expand=True)
event10_df.columns = ['ocel_id', 'ocel_time']
event10_df2 = event10_df.drop_duplicates()
len(event10_df2)

179

In [64]:
WeightSensors = o2IoTo_df[o2IoTo_df['ocel_IoTobject_id'].str.startswith('WS')]
WeightSensors

,ocel_IoTobject_id,ocel_object_id,ocel_qualifier,ocel_time
0,WS17,tr17,Weight sensor measuring empty truck weight,2024-05-01 15:35:46
1,WS07,tr3,Weight sensor measuring empty truck weight,2024-05-01 15:36:20
2,WS09,tr23,Weight sensor measuring empty truck weight,2024-05-01 15:47:26
3,WS19,tr40,Weight sensor measuring empty truck weight,2024-05-01 16:46:05
4,WS20,tr25,Weight sensor measuring empty truck weight,2024-05-01 17:16:28
...,...,...,...,...
1502,WS16,tr38,Weight sensor measuring loaded truck weight,2024-06-05 17:56:23
1503,WS07,tr4,Weight sensor measuring loaded truck weight,2024-06-06 08:11:59
1504,WS15,tr44,Weight sensor measuring loaded truck weight,2024-06-06 10:37:01
1505,WS03,tr8,Weight sensor measuring loaded truck weight,2024-06-06 15:25:45
1506,WS11,tr21,Weight sensor measuring loaded truck weight,2024-06-07 11:57:15

In [65]:
loadedw_merged_df = pd.merge(WeightSensors, event10_df2,on='ocel_time', how='inner')
loadedw_merged_df

,ocel_IoTobject_id,ocel_object_id,ocel_qualifier,ocel_time,ocel_id
0,WS19,tr40,Weight sensor measuring loaded truck weight,2024-05-03 10:40:25,weigh_loaded_trucktr40
1,WS01,tr39,Weight sensor measuring loaded truck weight,2024-05-03 14:50:06,weigh_loaded_trucktr39
2,WS09,tr6,Weight sensor measuring loaded truck weight,2024-05-03 15:49:56,weigh_loaded_trucktr6
3,WS10,tr1,Weight sensor measuring loaded truck weight,2024-05-03 18:30:43,weigh_loaded_trucktr1
4,WS08,tr29,Weight sensor measuring loaded truck weight,2024-05-06 07:48:55,weigh_loaded_trucktr29
...,...,...,...,...,...
174,WS16,tr38,Weight sensor measuring loaded truck weight,2024-06-05 17:56:23,weigh_loaded_trucktr38
175,WS07,tr4,Weight sensor measuring loaded truck weight,2024-06-06 08:11:59,weigh_loaded_trucktr4
176,WS15,tr44,Weight sensor measuring loaded truck weight,2024-06-06 10:37:01,weigh_loaded_trucktr44
177,WS03,tr8,Weight sensor measuring loaded truck weight,2024-06-06 15:25:45,weigh_loaded_trucktr8
178,WS11,tr21,Weight sensor measuring loaded truck weight,2024-06-07 11:57:15,weigh_loaded_trucktr21

In [66]:
loadedw_merged_df1 = loadedw_merged_df[['ocel_id','ocel_time','ocel_object_id','ocel_IoTobject_id']]
loadedw_merged_df1.rename(columns={'ocel_id': 'ocel_event_id','ocel_IoTobject_id':'ocel_IoT_object_id'}, inplace=True)
loadedw_merged_df1

C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/1496862385.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loadedw_merged_df1.rename(columns={'ocel_id': 'ocel_event_id','ocel_IoTobject_id':'ocel_IoT_object_id'}, inplace=True)

,ocel_event_id,ocel_time,ocel_object_id,ocel_IoT_object_id
0,weigh_loaded_trucktr40,2024-05-03 10:40:25,tr40,WS19
1,weigh_loaded_trucktr39,2024-05-03 14:50:06,tr39,WS01
2,weigh_loaded_trucktr6,2024-05-03 15:49:56,tr6,WS09
3,weigh_loaded_trucktr1,2024-05-03 18:30:43,tr1,WS10
4,weigh_loaded_trucktr29,2024-05-06 07:48:55,tr29,WS08
...,...,...,...,...
174,weigh_loaded_trucktr38,2024-06-05 17:56:23,tr38,WS16
175,weigh_loaded_trucktr4,2024-06-06 08:11:59,tr4,WS07
176,weigh_loaded_trucktr44,2024-06-06 10:37:01,tr44,WS15
177,weigh_loaded_trucktr8,2024-06-06 15:25:45,tr8,WS03
178,weigh_loaded_trucktr21,2024-06-07 11:57:15,tr21,WS11

#### Event: EvaluateTruckExit

In [67]:
event11_df = pd.read_csv('event_EvaluateTruckExit.csv')
event11_df = event11_df['ocel_id;ocel_time'].str.split(';', expand=True)
event11_df.columns = ['ocel_id', 'ocel_time']
event11_df2 = event11_df.drop_duplicates()
len(event11_df2)

179

In [68]:
exit_df1 = pd.merge(event11_df,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
exit_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,eval_trs_exittr40_Pcp5,2024-05-03 14:15:01,eval_trs_exittr40_Pcp5,tr40,Exit evaluation for truck
1,eval_trs_exittr6_Pcp5,2024-05-06 07:10:59,eval_trs_exittr6_Pcp5,tr6,Exit evaluation for truck
2,eval_trs_exittr39_Pcp5,2024-05-06 07:32:02,eval_trs_exittr39_Pcp5,tr39,Exit evaluation for truck
3,eval_trs_exittr9_Pcp5,2024-05-06 10:35:47,eval_trs_exittr9_Pcp5,tr9,Exit evaluation for truck
4,eval_trs_exittr28_Pcp5,2024-05-06 10:43:22,eval_trs_exittr28_Pcp5,tr28,Exit evaluation for truck
...,...,...,...,...,...
212,eval_trs_exittr8_Pcp6,2024-06-06 16:52:49,eval_trs_exittr8_Pcp6,tr8,Exit evaluation for truck
213,eval_trs_exittr8_Pcp6,2024-06-06 16:52:49,eval_trs_exittr8_Pcp6,tr8,Exit evaluation for truck
214,eval_trs_exittr38_Pcp10,2024-06-07 08:15:44,eval_trs_exittr38_Pcp10,tr38,Exit evaluation for truck
215,eval_trs_exittr13_Pcp6,2024-06-07 08:27:16,eval_trs_exittr13_Pcp6,tr13,Exit evaluation for truck
216,eval_trs_exittr21_Pcp8,2024-06-07 19:21:02,eval_trs_exittr21_Pcp8,tr21,Exit evaluation for truck

In [69]:
exit_merged= exit_df1.drop_duplicates()
exit_merged

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,eval_trs_exittr40_Pcp5,2024-05-03 14:15:01,eval_trs_exittr40_Pcp5,tr40,Exit evaluation for truck
1,eval_trs_exittr6_Pcp5,2024-05-06 07:10:59,eval_trs_exittr6_Pcp5,tr6,Exit evaluation for truck
2,eval_trs_exittr39_Pcp5,2024-05-06 07:32:02,eval_trs_exittr39_Pcp5,tr39,Exit evaluation for truck
3,eval_trs_exittr9_Pcp5,2024-05-06 10:35:47,eval_trs_exittr9_Pcp5,tr9,Exit evaluation for truck
4,eval_trs_exittr28_Pcp5,2024-05-06 10:43:22,eval_trs_exittr28_Pcp5,tr28,Exit evaluation for truck
...,...,...,...,...,...
211,eval_trs_exittr44_Pcp7,2024-06-06 12:23:39,eval_trs_exittr44_Pcp7,tr44,Exit evaluation for truck
212,eval_trs_exittr8_Pcp6,2024-06-06 16:52:49,eval_trs_exittr8_Pcp6,tr8,Exit evaluation for truck
214,eval_trs_exittr38_Pcp10,2024-06-07 08:15:44,eval_trs_exittr38_Pcp10,tr38,Exit evaluation for truck
215,eval_trs_exittr13_Pcp6,2024-06-07 08:27:16,eval_trs_exittr13_Pcp6,tr13,Exit evaluation for truck
216,eval_trs_exittr21_Pcp8,2024-06-07 19:21:02,eval_trs_exittr21_Pcp8,tr21,Exit evaluation for truck

In [70]:
exit_filtered = exit_merged[['ocel_event_id','ocel_time','ocel_object_id']]
exit_filtered

               ocel_event_id            ocel_time ocel_object_id
0     eval_trs_exittr40_Pcp5  2024-05-03 14:15:01           tr40
1      eval_trs_exittr6_Pcp5  2024-05-06 07:10:59            tr6
2     eval_trs_exittr39_Pcp5  2024-05-06 07:32:02           tr39
3      eval_trs_exittr9_Pcp5  2024-05-06 10:35:47            tr9
4     eval_trs_exittr28_Pcp5  2024-05-06 10:43:22           tr28
..                       ...                  ...            ...
211   eval_trs_exittr44_Pcp7  2024-06-06 12:23:39           tr44
212    eval_trs_exittr8_Pcp6  2024-06-06 16:52:49            tr8
214  eval_trs_exittr38_Pcp10  2024-06-07 08:15:44           tr38
215   eval_trs_exittr13_Pcp6  2024-06-07 08:27:16           tr13
216   eval_trs_exittr21_Pcp8  2024-06-07 19:21:02           tr21

[179 rows x 3 columns]

#### Event: InputTallySheet

In [71]:
event12_df = pd.read_csv('event_InputTallySheet.csv')
event12_df = event12_df['ocel_id;ocel_time'].str.split(';', expand=True)
event12_df.columns = ['ocel_id', 'ocel_time']
event12_df2 = event12_df.drop_duplicates()
len(event12_df2)

179

In [72]:
tally_df1 = pd.merge(event12_df,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
tally_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,input_tally_sheettr40,2024-05-03 12:34:15,input_tally_sheettr40,tr40,Tally Sheet for pickup plan
1,input_tally_sheettr40,2024-05-03 12:34:15,input_tally_sheettr40,tr40,Tally Sheet for pickup plan
2,input_tally_sheettr6,2024-05-03 17:07:16,input_tally_sheettr6,tr6,Tally Sheet for pickup plan
3,input_tally_sheettr6,2024-05-03 17:07:16,input_tally_sheettr6,tr6,Tally Sheet for pickup plan
4,input_tally_sheettr6,2024-05-03 17:07:16,input_tally_sheettr6,tr6,Tally Sheet for pickup plan
...,...,...,...,...,...
700,input_tally_sheettr21,2024-06-07 16:46:41,input_tally_sheettr21,tr21,Tally Sheet for pickup plan
701,input_tally_sheettr21,2024-06-07 16:46:41,input_tally_sheettr21,tr21,Tally Sheet for pickup plan
702,input_tally_sheettr21,2024-06-07 16:46:41,input_tally_sheettr21,tr21,Tally Sheet for pickup plan
703,input_tally_sheettr21,2024-06-07 16:46:41,input_tally_sheettr21,tr21,Tally Sheet for pickup plan
704,input_tally_sheettr21,2024-06-07 16:46:41,input_tally_sheettr21,tr21,Tally Sheet for pickup plan

In [73]:
tally_merged= tally_df1.drop_duplicates()
tally_merged

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,input_tally_sheettr40,2024-05-03 12:34:15,input_tally_sheettr40,tr40,Tally Sheet for pickup plan
2,input_tally_sheettr6,2024-05-03 17:07:16,input_tally_sheettr6,tr6,Tally Sheet for pickup plan
6,input_tally_sheettr39,2024-05-03 17:08:59,input_tally_sheettr39,tr39,Tally Sheet for pickup plan
10,input_tally_sheettr9,2024-05-06 10:11:08,input_tally_sheettr9,tr9,Tally Sheet for pickup plan
14,input_tally_sheettr28,2024-05-06 10:17:20,input_tally_sheettr28,tr28,Tally Sheet for pickup plan
...,...,...,...,...,...
683,input_tally_sheettr44,2024-06-06 10:58:53,input_tally_sheettr44,tr44,Tally Sheet for pickup plan
688,input_tally_sheettr8,2024-06-06 15:51:15,input_tally_sheettr8,tr8,Tally Sheet for pickup plan
692,input_tally_sheettr38,2024-06-06 22:44:14,input_tally_sheettr38,tr38,Tally Sheet for pickup plan
696,input_tally_sheettr13,2024-06-06 22:59:42,input_tally_sheettr13,tr13,Tally Sheet for pickup plan
700,input_tally_sheettr21,2024-06-07 16:46:41,input_tally_sheettr21,tr21,Tally Sheet for pickup plan

In [74]:
tally_filtered =tally_merged[['ocel_event_id','ocel_time','ocel_object_id']]
tally_filtered

             ocel_event_id            ocel_time ocel_object_id
0    input_tally_sheettr40  2024-05-03 12:34:15           tr40
2     input_tally_sheettr6  2024-05-03 17:07:16            tr6
6    input_tally_sheettr39  2024-05-03 17:08:59           tr39
10    input_tally_sheettr9  2024-05-06 10:11:08            tr9
14   input_tally_sheettr28  2024-05-06 10:17:20           tr28
..                     ...                  ...            ...
683  input_tally_sheettr44  2024-06-06 10:58:53           tr44
688   input_tally_sheettr8  2024-06-06 15:51:15            tr8
692  input_tally_sheettr38  2024-06-06 22:44:14           tr38
696  input_tally_sheettr13  2024-06-06 22:59:42           tr13
700  input_tally_sheettr21  2024-06-07 16:46:41           tr21

[179 rows x 3 columns]

In [75]:
len(tally_filtered)

179

#### Event: PrintWeighingTicket

In [76]:
event13_df = pd.read_csv('event_PrintWeighingTicket.csv')
event13_df = event13_df['ocel_id;ocel_time'].str.split(';', expand=True)
event13_df.columns = ['ocel_id', 'ocel_time']
event13_df2 = event13_df.drop_duplicates()
len(event13_df2)

179

In [77]:
print_df1 = pd.merge(event13_df,e2o_df, left_on='ocel_id', right_on='ocel_event_id', how='inner')
print_df1

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,print_w_tickettr40,2024-05-03 12:34:15,print_w_tickettr40,tr40,Printed weighing ticket for pickup plan
1,print_w_tickettr40,2024-05-03 12:34:15,print_w_tickettr40,tr40,Printed weighing ticket for pickup plan
2,print_w_tickettr6,2024-05-03 17:07:16,print_w_tickettr6,tr6,Printed weighing ticket for pickup plan
3,print_w_tickettr6,2024-05-03 17:07:16,print_w_tickettr6,tr6,Printed weighing ticket for pickup plan
4,print_w_tickettr6,2024-05-03 17:07:16,print_w_tickettr6,tr6,Printed weighing ticket for pickup plan
...,...,...,...,...,...
700,print_w_tickettr21,2024-06-07 16:46:41,print_w_tickettr21,tr21,Printed weighing ticket for pickup plan
701,print_w_tickettr21,2024-06-07 16:46:41,print_w_tickettr21,tr21,Printed weighing ticket for pickup plan
702,print_w_tickettr21,2024-06-07 16:46:41,print_w_tickettr21,tr21,Printed weighing ticket for pickup plan
703,print_w_tickettr21,2024-06-07 16:46:41,print_w_tickettr21,tr21,Printed weighing ticket for pickup plan
704,print_w_tickettr21,2024-06-07 16:46:41,print_w_tickettr21,tr21,Printed weighing ticket for pickup plan

In [78]:
print_merged= print_df1.drop_duplicates()
print_merged

,ocel_id,ocel_time,ocel_event_id,ocel_object_id,ocel_qualifier
0,print_w_tickettr40,2024-05-03 12:34:15,print_w_tickettr40,tr40,Printed weighing ticket for pickup plan
2,print_w_tickettr6,2024-05-03 17:07:16,print_w_tickettr6,tr6,Printed weighing ticket for pickup plan
6,print_w_tickettr39,2024-05-03 17:08:59,print_w_tickettr39,tr39,Printed weighing ticket for pickup plan
10,print_w_tickettr9,2024-05-06 10:11:08,print_w_tickettr9,tr9,Printed weighing ticket for pickup plan
14,print_w_tickettr28,2024-05-06 10:17:20,print_w_tickettr28,tr28,Printed weighing ticket for pickup plan
...,...,...,...,...,...
683,print_w_tickettr44,2024-06-06 10:58:53,print_w_tickettr44,tr44,Printed weighing ticket for pickup plan
688,print_w_tickettr8,2024-06-06 15:51:15,print_w_tickettr8,tr8,Printed weighing ticket for pickup plan
692,print_w_tickettr38,2024-06-06 22:44:14,print_w_tickettr38,tr38,Printed weighing ticket for pickup plan
696,print_w_tickettr13,2024-06-06 22:59:42,print_w_tickettr13,tr13,Printed weighing ticket for pickup plan
700,print_w_tickettr21,2024-06-07 16:46:41,print_w_tickettr21,tr21,Printed weighing ticket for pickup plan

In [79]:
print_filtered = print_merged[['ocel_event_id','ocel_time','ocel_object_id']]
print_filtered

          ocel_event_id            ocel_time ocel_object_id
0    print_w_tickettr40  2024-05-03 12:34:15           tr40
2     print_w_tickettr6  2024-05-03 17:07:16            tr6
6    print_w_tickettr39  2024-05-03 17:08:59           tr39
10    print_w_tickettr9  2024-05-06 10:11:08            tr9
14   print_w_tickettr28  2024-05-06 10:17:20           tr28
..                  ...                  ...            ...
683  print_w_tickettr44  2024-06-06 10:58:53           tr44
688   print_w_tickettr8  2024-06-06 15:51:15            tr8
692  print_w_tickettr38  2024-06-06 22:44:14           tr38
696  print_w_tickettr13  2024-06-06 22:59:42           tr13
700  print_w_tickettr21  2024-06-07 16:46:41           tr21

[179 rows x 3 columns]

In [80]:
len(print_filtered)

179

#### Concatenate all event tables

In [81]:
df_3col = [lodge_e2o_filtered, reshaped_assigned_df_sorted, failWeigh_filtered, reshaped_arrivesilo_df_sorted, load_filtered, exit_filtered, tally_filtered, print_filtered]
df_3col

[   ocel_event_id            ocel_time ocel_object_id
 0     Lodge_Pcp5  2024-04-29 07:58:10           Pcp5
 1     Lodge_Pcp5  2024-04-29 07:58:10            Cr2
 2     Lodge_Pcp3  2024-04-29 08:02:04           Pcp3
 3     Lodge_Pcp3  2024-04-29 08:02:04            Cr7
 4     Lodge_Pcp4  2024-04-29 08:07:56           Pcp4
 5     Lodge_Pcp4  2024-04-29 08:07:56           Cr17
 6    Lodge_Pcp10  2024-04-29 08:39:14          Pcp10
 7    Lodge_Pcp10  2024-04-29 08:39:14            Cr6
 8     Lodge_Pcp1  2024-04-29 08:49:30           Pcp1
 9     Lodge_Pcp1  2024-04-29 08:49:30           Cr20
 10    Lodge_Pcp6  2024-04-29 08:51:38           Pcp6
 11    Lodge_Pcp6  2024-04-29 08:51:38           Cr18
 12    Lodge_Pcp2  2024-04-29 09:11:37           Pcp2
 13    Lodge_Pcp2  2024-04-29 09:11:37            Cr4
 14    Lodge_Pcp9  2024-04-29 09:59:05           Pcp9
 15    Lodge_Pcp9  2024-04-29 09:59:05            Cr9
 16    Lodge_Pcp8  2024-04-29 11:02:18           Pcp8
 17    Lodge_Pcp8  2024-04-29 11:02:18           Cr13
 18    Lodge_Pcp7  2024-04-29 11:33:45           Pcp7
 19    Lodge_Pcp7  2024-04-29 11:33:45            Cr1,
         ocel_event_id            ocel_time ocel_object_id
 0     assign_trs_Pcp5  2024-05-01 10:12:39           tr36
 1     assign_trs_Pcp5  2024-05-01 10:12:39           Pcp5
 2     assign_trs_Pcp5  2024-05-01 10:13:36           tr35
 3     assign_trs_Pcp5  2024-05-01 10:13:36           Pcp5
 4     assign_trs_Pcp5  2024-05-01 10:14:36           tr26
 ..                ...                  ...            ...
 861  assign_trs_Pcp10  2024-05-31 17:32:12           tr46
 862   assign_trs_Pcp8  2024-05-31 18:08:37           Pcp8
 863   assign_trs_Pcp8  2024-05-31 18:08:37            tr1
 864  assign_trs_Pcp10  2024-06-03 10:03:17           tr23
 865  assign_trs_Pcp10  2024-06-03 10:03:17          Pcp10

 [866 rows x 3 columns],
        ocel_event_id            ocel_time ocel_object_id
 0      fail_weightr3  2024-05-01 17:22:01            tr3
 8     fail_weightr45  2024-05-02 09:21:08           tr45
 19    fail_weightr30  2024-05-02 10:03:39           tr30
 24     fail_weightr2  2024-05-02 10:08:19            tr2
 33    fail_weightr48  2024-05-02 10:12:21           tr48
 ...              ...                  ...            ...
 1585  fail_weightr50  2024-06-04 07:45:02           tr50
 1589  fail_weightr22  2024-06-04 09:45:50           tr22
 1596  fail_weightr40  2024-06-04 11:45:34           tr40
 1604  fail_weightr46  2024-06-04 12:07:41           tr46
 1611  fail_weightr42  2024-06-04 16:12:34           tr42

 [254 rows x 3 columns],
         ocel_event_id            ocel_time ocel_object_id
 0    arrive_at_Silo20  2024-05-02 08:03:30         Silo20
 1    arrive_at_Silo20  2024-05-02 08:03:30           tr40
 2    arrive_at_Silo20  2024-05-02 08:05:47           tr17
 3    arrive_at_Silo20  2024-05-02 08:05:47         Silo20
 4    arrive_at_Silo20  2024-05-02 08:50:02         Silo20
 ..                ...                  ...            ...
 353  arrive_at_Silo16  2024-06-04 14:13:08         Silo16
 354  arrive_at_Silo16  2024-06-04 15:38:26           tr21
 355  arrive_at_Silo16  2024-06-04 15:38:26         Silo16
 356   arrive_at_Silo8  2024-06-04 16:58:30          Silo8
 357   arrive_at_Silo8  2024-06-04 16:58:30           tr44

 [358 rows x 3 columns],
       ocel_event_id            ocel_time ocel_object_id
 0    load_trucktr17  2024-05-02 08:30:04           tr17
 4    load_trucktr40  2024-05-02 08:47:04           tr40
 6    load_trucktr38  2024-05-02 10:23:29           tr38
 10   load_trucktr25  2024-05-02 10:56:26           tr25
 14   load_trucktr23  2024-05-02 10:58:13           tr23
 ..              ...                  ...            ...
 682  load_trucktr18  2024-06-04 11:57:23           tr18
 687  load_trucktr23  2024-06-04 13:48:17           tr23
 692  load_trucktr43  2024-06-04 14:26:18           tr43
 695  load_trucktr21  2024-06-04 15:55:20           tr21
 700  load_trucktr44  2024-06-05 07:39:50           tr44

 [179 rows x 3 columns],
                ocel_event_id            ocel_time ocel_object_id
 0     eval_trs_exittr40_Pcp5  2024-05-03 14:15:01           tr40
 1      eval_trs_exittr6_Pcp5  2024-05-06 07:10:59            tr6
 2     eval_trs_exittr39_Pcp5  2024-05-06 07:32:02           tr39
 3      eval_trs_exittr9_Pcp5  2024-05-06 10:35:47            tr9
 4     eval_trs_exittr28_Pcp5  2024-05-06 10:43:22           tr28
 ..                       ...                  ...            ...
 211   eval_trs_exittr44_Pcp7  2024-06-06 12:23:39           tr44
 212    eval_trs_exittr8_Pcp6  2024-06-06 16:52:49            tr8
 214  eval_trs_exittr38_Pcp10  2024-06-07 08:15:44           tr38
 215   eval_trs_exittr13_Pcp6  2024-06-07 08:27:16           tr13
 216   eval_trs_exittr21_Pcp8  2024-06-07 19:21:02           tr21

 [179 rows x 3 columns],
              ocel_event_id            ocel_time ocel_object_id
 0    input_tally_sheettr40  2024-05-03 12:34:15           tr40
 2     input_tally_sheettr6  2024-05-03 17:07:16            tr6
 6    input_tally_sheettr39  2024-05-03 17:08:59           tr39
 10    input_tally_sheettr9  2024-05-06 10:11:08            tr9
 14   input_tally_sheettr28  2024-05-06 10:17:20           tr28
 ..                     ...                  ...            ...
 683  input_tally_sheettr44  2024-06-06 10:58:53           tr44
 688   input_tally_sheettr8  2024-06-06 15:51:15            tr8
 692  input_tally_sheettr38  2024-06-06 22:44:14           tr38
 696  input_tally_sheettr13  2024-06-06 22:59:42           tr13
 700  input_tally_sheettr21  2024-06-07 16:46:41           tr21

 [179 rows x 3 columns],
           ocel_event_id            ocel_time ocel_object_id
 0    print_w_tickettr40  2024-05-03 12:34:15           tr40
 2     print_w_tickettr6  2024-05-03 17:07:16            tr6
 6    print_w_tickettr39  2024-05-03 17:08:59           tr39
 10    print_w_tickettr9  2024-05-06 10:11:08            tr9
 14   print_w_tickettr28  2024-05-06 10:17:20           tr28
 ..                  ...                  ...            ...
 683  print_w_tickettr44  2024-06-06 10:58:53           tr44
 688   print_w_tickettr8  2024-06-06 15:51:15            tr8
 692  print_w_tickettr38  2024-06-06 22:44:14           tr38
 696  print_w_tickettr13  2024-06-06 22:59:42           tr13
 700  print_w_tickettr21  2024-06-07 16:46:41           tr21

 [179 rows x 3 columns]]

In [82]:
df_4col = [entry_filtered, emptyw_merged_df1, check_filtered, determine_filtered, loadedw_merged_df1]
df_4col

[       ocel_event_id            ocel_time ocel_object_id ocel_IoT_object_id
 0      trs_entrytr23  2024-05-01 15:22:37           tr23         rfidPBXSPB
 64      trs_entrytr3  2024-05-01 15:22:45            tr3         rfidCNJHRI
 164    trs_entrytr17  2024-05-01 15:26:00           tr17         rfidJLHJTQ
 213    trs_entrytr25  2024-05-01 15:52:37           tr25         rfidRGOUFR
 277    trs_entrytr40  2024-05-01 16:36:11           tr40         rfidRSRUSS
 ...              ...                  ...            ...                ...
 35636  trs_entrytr43  2024-06-04 10:17:08           tr43         rfidPGFJDN
 35757  trs_entrytr46  2024-06-04 10:30:41           tr46         rfidOGWMQM
 35857  trs_entrytr21  2024-06-04 12:17:24           tr21         rfidDXYTZF
 35906  trs_entrytr42  2024-06-04 12:27:48           tr42         rfidSETHFQ
 35955  trs_entrytr44  2024-06-04 13:25:57           tr44         rfidWVBFTX

 [433 rows x 4 columns],
              ocel_event_id            ocel_time ocel_object_id  \
 0    weigh_empty_trucktr17  2024-05-01 15:35:46           tr17
 1     weigh_empty_trucktr3  2024-05-01 15:36:20            tr3
 2    weigh_empty_trucktr23  2024-05-01 15:47:26           tr23
 3    weigh_empty_trucktr40  2024-05-01 16:46:05           tr40
 4    weigh_empty_trucktr25  2024-05-01 17:16:28           tr25
 ..                     ...                  ...            ...
 428  weigh_empty_trucktr43  2024-06-04 10:37:38           tr43
 429  weigh_empty_trucktr46  2024-06-04 10:40:41           tr46
 430  weigh_empty_trucktr21  2024-06-04 13:24:46           tr21
 431  weigh_empty_trucktr44  2024-06-04 13:33:54           tr44
 432  weigh_empty_trucktr42  2024-06-04 13:37:03           tr42

     ocel_IoT_object_id
 0                 WS17
 1                 WS07
 2                 WS09
 3                 WS19
 4                 WS20
 ..                 ...
 428               WS16
 429               WS07
 430               WS16
 431               WS15
 432               WS02

 [433 rows x 4 columns],
                ocel_event_id            ocel_time ocel_object_id  \
 0       check_abnormalitytr3  2024-05-01 15:47:35            tr3
 100    check_abnormalitytr17  2024-05-01 15:58:00           tr17
 149    check_abnormalitytr23  2024-05-01 16:54:39           tr23
 213    check_abnormalitytr40  2024-05-01 16:59:40           tr40
 313    check_abnormalitytr25  2024-05-01 18:43:07           tr25
 ...                      ...                  ...            ...
 35636  check_abnormalitytr46  2024-06-04 10:47:40           tr46
 35736  check_abnormalitytr43  2024-06-04 10:55:49           tr43
 35857  check_abnormalitytr21  2024-06-04 13:35:57           tr21
 35906  check_abnormalitytr44  2024-06-04 14:39:08           tr44
 35970  check_abnormalitytr42  2024-06-04 14:43:20           tr42

       ocel_IoT_object_id
 0             rfidCNJHRI
 100           rfidJLHJTQ
 149           rfidPBXSPB
 213           rfidRSRUSS
 313           rfidRGOUFR
 ...                  ...
 35636         rfidOGWMQM
 35736         rfidPGFJDN
 35857         rfidDXYTZF
 35906         rfidWVBFTX
 35970         rfidSETHFQ

 [433 rows x 4 columns],
                       ocel_event_id            ocel_time ocel_object_id  \
 0       determine_continuanceSilo20  2024-05-02 08:16:22         Silo20
 1       determine_continuanceSilo20  2024-05-02 08:16:22         Silo20
 2       determine_continuanceSilo20  2024-05-02 08:16:22         Silo20
 3       determine_continuanceSilo20  2024-05-02 08:16:22         Silo20
 4       determine_continuanceSilo20  2024-05-02 08:16:22         Silo20
 ...                             ...                  ...            ...
 449065   determine_continuanceSilo8  2024-06-04 18:28:52          Silo8
 449066   determine_continuanceSilo8  2024-06-04 18:28:52          Silo8
 449067   determine_continuanceSilo8  2024-06-04 18:28:52          Silo8
 449068   determine_continuanceSilo8  2024-06-04 18:28:52          Silo8
 449069   determine_continuanceSilo8  2024-06-04 18:28:52          Silo8

        ocel_IoT_object_id
 0                  Temp20
 1                  Humd20
 2             GrainTemp58
 3             GrainTemp59
 4             GrainTemp60
 ...                   ...
 449065              Temp8
 449066              Humd8
 449067        GrainTemp22
 449068        GrainTemp23
 449069        GrainTemp24

 [895 rows x 4 columns],
               ocel_event_id            ocel_time ocel_object_id  \
 0    weigh_loaded_trucktr40  2024-05-03 10:40:25           tr40
 1    weigh_loaded_trucktr39  2024-05-03 14:50:06           tr39
 2     weigh_loaded_trucktr6  2024-05-03 15:49:56            tr6
 3     weigh_loaded_trucktr1  2024-05-03 18:30:43            tr1
 4    weigh_loaded_trucktr29  2024-05-06 07:48:55           tr29
 ..                      ...                  ...            ...
 174  weigh_loaded_trucktr38  2024-06-05 17:56:23           tr38
 175   weigh_loaded_trucktr4  2024-06-06 08:11:59            tr4
 176  weigh_loaded_trucktr44  2024-06-06 10:37:01           tr44
 177   weigh_loaded_trucktr8  2024-06-06 15:25:45            tr8
 178  weigh_loaded_trucktr21  2024-06-07 11:57:15           tr21

     ocel_IoT_object_id
 0                 WS19
 1                 WS01
 2                 WS09
 3                 WS10
 4                 WS08
 ..                 ...
 174               WS16
 175               WS07
 176               WS15
 177               WS03
 178               WS11

 [179 rows x 4 columns]]

In [83]:
for df in df_3col:
    if 'ocel_IoT_object_id' not in df.columns:
        df['ocel_IoT_object_id'] = None

C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/830877043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ocel_IoT_object_id'] = None
C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/830877043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ocel_IoT_object_id'] = None
C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/830877043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ocel_IoT_object_id'] = None
C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/830877043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ocel_IoT_object_id'] = None
C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/830877043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ocel_IoT_object_id'] = None
C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/830877043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ocel_IoT_object_id'] = None

In [84]:
merged_df = pd.concat(df_3col + df_4col)


events_sorted = merged_df.sort_values(by='ocel_time').reset_index(drop=True)

In [85]:
events_sorted

,ocel_event_id,ocel_time,ocel_object_id,ocel_IoT_object_id
0,Lodge_Pcp5,2024-04-29 07:58:10,Pcp5,None
1,Lodge_Pcp5,2024-04-29 07:58:10,Cr2,None
2,Lodge_Pcp3,2024-04-29 08:02:04,Pcp3,None
3,Lodge_Pcp3,2024-04-29 08:02:04,Cr7,None
4,Lodge_Pcp4,2024-04-29 08:07:56,Pcp4,None
...,...,...,...,...
4582,eval_trs_exittr13_Pcp6,2024-06-07 08:27:16,tr13,None
4583,weigh_loaded_trucktr21,2024-06-07 11:57:15,tr21,WS11
4584,print_w_tickettr21,2024-06-07 16:46:41,tr21,None
4585,input_tally_sheettr21,2024-06-07 16:46:41,tr21,None
4586,eval_trs_exittr21_Pcp8,2024-06-07 19:21:02,tr21,None

### Event table

In [86]:
event_df = pd.read_csv('event.csv')
event_df = event_df['ocel_id;ocel_type'].str.split(';', expand=True)
event_df.columns = ['ocel_id','ocel_type']
print(event_df.head())

       ocel_id          ocel_type
0   Lodge_Pcp5  Lodge Pickup Plan
1   Lodge_Pcp3  Lodge Pickup Plan
2   Lodge_Pcp4  Lodge Pickup Plan
3  Lodge_Pcp10  Lodge Pickup Plan
4   Lodge_Pcp1  Lodge Pickup Plan

In [87]:
events = pd.merge(events_sorted, event_df, left_on='ocel_event_id', right_on='ocel_id')
events_filtered= events[['ocel_event_id', 'ocel_type', 'ocel_time', 'ocel_object_id', 'ocel_IoT_object_id']]
events_filtered

,ocel_event_id,ocel_type,ocel_time,ocel_object_id,ocel_IoT_object_id
0,Lodge_Pcp5,Lodge Pickup Plan,2024-04-29 07:58:10,Pcp5,None
1,Lodge_Pcp5,Lodge Pickup Plan,2024-04-29 07:58:10,Cr2,None
2,Lodge_Pcp3,Lodge Pickup Plan,2024-04-29 08:02:04,Pcp3,None
3,Lodge_Pcp3,Lodge Pickup Plan,2024-04-29 08:02:04,Cr7,None
4,Lodge_Pcp4,Lodge Pickup Plan,2024-04-29 08:07:56,Pcp4,None
...,...,...,...,...,...
82676,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None
82677,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None
82678,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None
82679,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None
82680,eval_trs_exittr21_Pcp8,Evaluate the Truck Exit,2024-06-07 19:21:02,tr21,None

In [88]:
events_distinct = events_filtered.drop_duplicates()

In [89]:
len(events_distinct)

4587

In [90]:
events_distinct.head()

,ocel_event_id,ocel_type,ocel_time,ocel_object_id,ocel_IoT_object_id
0,Lodge_Pcp5,Lodge Pickup Plan,2024-04-29 07:58:10,Pcp5,None
1,Lodge_Pcp5,Lodge Pickup Plan,2024-04-29 07:58:10,Cr2,None
2,Lodge_Pcp3,Lodge Pickup Plan,2024-04-29 08:02:04,Pcp3,None
3,Lodge_Pcp3,Lodge Pickup Plan,2024-04-29 08:02:04,Cr7,None
4,Lodge_Pcp4,Lodge Pickup Plan,2024-04-29 08:07:56,Pcp4,None

In [91]:
events_distinct.rename(columns={'ocel_event_id': 'event_id', 'ocel_type': 'activity', 'ocel_time': 'timestamp'}, inplace=True)

C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/3693824747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_distinct.rename(columns={'ocel_event_id': 'event_id', 'ocel_type': 'activity', 'ocel_time': 'timestamp'}, inplace=True)

In [92]:
events_distinct

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id
0,Lodge_Pcp5,Lodge Pickup Plan,2024-04-29 07:58:10,Pcp5,None
1,Lodge_Pcp5,Lodge Pickup Plan,2024-04-29 07:58:10,Cr2,None
2,Lodge_Pcp3,Lodge Pickup Plan,2024-04-29 08:02:04,Pcp3,None
3,Lodge_Pcp3,Lodge Pickup Plan,2024-04-29 08:02:04,Cr7,None
4,Lodge_Pcp4,Lodge Pickup Plan,2024-04-29 08:07:56,Pcp4,None
...,...,...,...,...,...
82664,eval_trs_exittr13_Pcp6,Evaluate the Truck Exit,2024-06-07 08:27:16,tr13,None
82665,weigh_loaded_trucktr21,Weigh the Loaded Truck,2024-06-07 11:57:15,tr21,WS11
82670,print_w_tickettr21,Print the Weighing Ticket,2024-06-07 16:46:41,tr21,None
82675,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None
82680,eval_trs_exittr21_Pcp8,Evaluate the Truck Exit,2024-06-07 19:21:02,tr21,None

### Object tables

#### Flattern Truck

In [93]:
truck_df = pd.read_csv('object_Truck.csv')
truck_df = truck_df['ocel_id;ocel_time;ocel_changed_field;RFID No;Pickup Plan ID;Cargo ID;LPT;Axles;Scheduled Pickup Weight;Truck Status;Truck Weight;Is_normal'].str.split(';', expand=True)
truck_df.columns = ['ocel_id','ocel_time','ocel_changed_field','RFID No','Pickup Plan ID','Cargo ID','LPT','Axles','Scheduled Pickup Weight','Truck Status','Truck Weight','Is_normal']
truck_df.rename(columns={'ocel_id': 'ocel_object_id', 'ocel_time': 'timestamp'}, inplace=True)

In [94]:
truck_df

,ocel_object_id,timestamp,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,tr8,2024-03-04 00:00:00,,rfidHTVXVN,,,720QYQ,4,0.0,Available,0.0,
1,tr41,2024-03-04 00:00:00,,rfidEMPMPR,,,152ACE,6,0.0,Available,0.0,
2,tr11,2024-03-04 00:00:00,,rfidSHHSUU,,,110JHX,2,0.0,Available,0.0,
3,tr10,2024-03-04 00:00:00,,rfidETCTYM,,,271FSE,2,0.0,Available,0.0,
4,tr22,2024-03-04 00:00:00,,rfidNJVBRP,,,358QAR,4,0.0,Available,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...
3255,tr8,2024-06-06 16:52:49,Truck Status,,,,,,,Available,None,None
3256,tr38,2024-06-07 08:15:44,Truck Status,,,,,,,Available,None,None
3257,tr13,2024-06-07 08:27:16,Truck Status,,,,,,,Available,None,None
3258,tr21,2024-06-07 11:57:15,Truck Weight,,,,,,,,21189.3,None
3259,tr21,2024-06-07 19:21:02,Truck Status,,,,,,,Available,None,None

In [95]:
trucks_merged_df = pd.merge(events_distinct, truck_df, on=['ocel_object_id', 'timestamp'], how='outer')
trucks_merged_df

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,Lodge_Pcp7,Lodge Pickup Plan,2024-04-29 11:33:45,Cr1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lodge_Pcp8,Lodge Pickup Plan,2024-04-29 11:02:18,Cr13,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lodge_Pcp4,Lodge Pickup Plan,2024-04-29 08:07:56,Cr17,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lodge_Pcp6,Lodge Pickup Plan,2024-04-29 08:51:38,Cr18,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lodge_Pcp5,Lodge Pickup Plan,2024-04-29 07:58:10,Cr2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6186,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,Truck Weight,,,,,,,,15531.2,None
6187,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6188,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Is_normal,,,,,,,,,abnormal
6189,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Truck Status,,,,,,,Available,None,None

In [96]:
truck_filtered_df=trucks_merged_df[trucks_merged_df['ocel_object_id'].str.startswith('tr')]
truck_filtered_df

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
1527,NaN,NaN,2024-03-04 00:00:00,tr1,NaN,,rfidWKFZQT,,,152SGS,2,0.0,Available,0.0,
1528,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Truck Status,,,,,,,Occupied,None,None
1529,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Pickup Plan ID,,Pcp5,None,None,None,None,None,None,None
1530,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Scheduled Pickup Weight,,,,,,9370.3,None,None,None
1531,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Cargo ID,,,Cr2,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6186,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,Truck Weight,,,,,,,,15531.2,None
6187,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6188,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Is_normal,,,,,,,,,abnormal
6189,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Truck Status,,,,,,,Available,None,None

In [97]:
# Prior to the pick-up process, the truck's data (e.g. RFID number, LPT, axle number) is stored in the port system.
truck_filtered_df_cleaned = truck_filtered_df.dropna(subset=['event_id'])
truck_filtered_df_cleaned

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
1528,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Truck Status,,,,,,,Occupied,None,None
1529,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Pickup Plan ID,,Pcp5,None,None,None,None,None,None,None
1530,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Scheduled Pickup Weight,,,,,,9370.3,None,None,None
1531,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Cargo ID,,,Cr2,None,None,None,None,None,None
1532,trs_entrytr1,Enter the port,2024-05-02 07:47:41,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6186,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,Truck Weight,,,,,,,,15531.2,None
6187,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6188,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Is_normal,,,,,,,,,abnormal
6189,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Truck Status,,,,,,,Available,None,None

In [98]:
assign_trucks_df = truck_filtered_df_cleaned[truck_filtered_df_cleaned['activity'] == 'Assign Trucks']
assign_trucks_df

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
1528,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Truck Status,,,,,,,Occupied,None,None
1529,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Pickup Plan ID,,Pcp5,None,None,None,None,None,None,None
1530,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Scheduled Pickup Weight,,,,,,9370.3,None,None,None
1531,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Cargo ID,,,Cr2,None,None,None,None,None,None
1541,assign_trs_Pcp10,Assign Trucks,2024-05-09 10:39:39,tr1,None,Truck Status,,,,,,,Occupied,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6171,assign_trs_Pcp10,Assign Trucks,2024-05-22 11:20:10,tr9,None,Cargo ID,,,Cr6,None,None,None,None,None,None
6181,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,Truck Status,,,,,,,Occupied,None,None
6182,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,Pickup Plan ID,,Pcp8,None,None,None,None,None,None,None
6183,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,Scheduled Pickup Weight,,,,,,9375.8,None,None,None
6184,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,Cargo ID,,,Cr13,None,None,None,None,None,None

In [99]:
other_activities_df = truck_filtered_df_cleaned[truck_filtered_df_cleaned['activity'] != 'Assign Trucks']
other_activities_df

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
1532,trs_entrytr1,Enter the port,2024-05-02 07:47:41,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1533,weigh_empty_trucktr1,Weigh the Empty Truck,2024-05-02 09:32:55,tr1,WS07,Truck Weight,,,,,,,,12559.0,None
1534,check_abnormalitytr1,Check Empty Truck Weight Abnormality,2024-05-02 10:49:45,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,arrive_at_Silo20,Arrive at the Silo,2024-05-02 14:13:48,tr1,None,Is_normal,,,,,,,,,normal
1536,load_trucktr1,Load Truck,2024-05-02 14:42:39,tr1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6186,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,Truck Weight,,,,,,,,15531.2,None
6187,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6188,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Is_normal,,,,,,,,,abnormal
6189,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Truck Status,,,,,,,Available,None,None

In [100]:
def merge_group_rows_with_field(group):
    merged_row = group.iloc[0].copy()
    for col in group.columns:
        if col not in ['event_id', 'activity', 'timestamp', 'ocel_object_id', 'ocel_IoT_object_id', 'ocel_changed_field']:
            non_null_values = group[col].dropna().unique()
            if len(non_null_values) > 0:
                merged_row[col] = non_null_values[0]

    # Populate the value from 'ocel_changed_field' into the corresponding column
    for _, row in group.iterrows():
        field = row['ocel_changed_field']
        if field in group.columns and pd.notna(row[field]):
            merged_row[field] = row[field]

    return merged_row

In [101]:
# Group by 'event_id' and 'timestamp' and merge rows within each group considering 'ocel_changed_field'
assigned = assign_trucks_df.groupby(['event_id', 'timestamp']).apply(merge_group_rows_with_field).reset_index(drop=True)

C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/1121331822.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  assigned = assign_trucks_df.groupby(['event_id', 'timestamp']).apply(merge_group_rows_with_field).reset_index(drop=True)

In [102]:
assigned

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,assign_trs_Pcp1,Assign Trucks,2024-05-02 11:23:29,tr48,None,Truck Status,,Pcp1,Cr20,,,9307.3,Occupied,None,None
1,assign_trs_Pcp1,Assign Trucks,2024-05-06 11:48:15,tr43,None,Truck Status,,Pcp1,Cr20,,,9387.8,Occupied,None,None
2,assign_trs_Pcp1,Assign Trucks,2024-05-06 12:45:56,tr39,None,Truck Status,,Pcp1,Cr20,,,9380.2,Occupied,None,None
3,assign_trs_Pcp1,Assign Trucks,2024-05-06 16:21:20,tr30,None,Truck Status,,Pcp1,Cr20,,,9250.2,Occupied,None,None
4,assign_trs_Pcp1,Assign Trucks,2024-05-07 09:34:58,tr49,None,Truck Status,,Pcp1,Cr20,,,9179.4,Occupied,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,assign_trs_Pcp9,Assign Trucks,2024-05-20 10:54:17,tr3,None,Truck Status,,Pcp9,Cr9,,,9386.2,Occupied,None,None
429,assign_trs_Pcp9,Assign Trucks,2024-05-20 16:03:49,tr34,None,Truck Status,,Pcp9,Cr9,,,9294.5,Occupied,None,None
430,assign_trs_Pcp9,Assign Trucks,2024-05-21 08:44:08,tr1,None,Truck Status,,Pcp9,Cr9,,,9176.1,Occupied,None,None
431,assign_trs_Pcp9,Assign Trucks,2024-05-21 09:13:27,tr5,None,Truck Status,,Pcp9,Cr9,,,9350.3,Occupied,None,None
432,assign_trs_Pcp9,Assign Trucks,2024-05-21 16:24:20,tr18,None,Truck Status,,Pcp9,Cr9,,,9331.5,Occupied,None,None

In [103]:
trucks_xes = pd.concat([assigned, other_activities_df]).sort_values(by='timestamp').reset_index(drop=True)

In [104]:
trucks_xes

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:12:39,tr36,None,Truck Status,,Pcp5,Cr2,,,9540.2,Occupied,None,None
1,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:13:36,tr35,None,Truck Status,,Pcp5,Cr2,,,9325.6,Occupied,None,None
2,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:14:36,tr26,None,Truck Status,,Pcp5,Cr2,,,9447.6,Occupied,None,None
3,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:15:14,tr23,None,Truck Status,,Pcp5,Cr2,,,9398.5,Occupied,None,None
4,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:15:34,tr17,None,Truck Status,,Pcp5,Cr2,,,9517.4,Occupied,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,eval_trs_exittr13_Pcp6,Evaluate the Truck Exit,2024-06-07 08:27:16,tr13,None,Truck Status,,,,,,,Available,None,None
3310,weigh_loaded_trucktr21,Weigh the Loaded Truck,2024-06-07 11:57:15,tr21,WS11,Truck Weight,,,,,,,,21189.3,None
3311,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3312,print_w_tickettr21,Print the Weighing Ticket,2024-06-07 16:46:41,tr21,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3313,eval_trs_exittr21_Pcp8,Evaluate the Truck Exit,2024-06-07 19:21:02,tr21,None,Truck Status,,,,,,,Available,None,None

In [105]:
fail_df = trucks_xes[trucks_xes ['activity'] == 'Fail to Weigh']
fail_df

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
67,fail_weightr3,Fail to Weigh,2024-05-01 17:22:01,tr3,None,Is_normal,,,,,,,,,abnormal
68,fail_weightr3,Fail to Weigh,2024-05-01 17:22:01,tr3,None,Truck Status,,,,,,,Available,None,None
102,fail_weightr45,Fail to Weigh,2024-05-02 09:21:08,tr45,None,Is_normal,,,,,,,,,abnormal
103,fail_weightr45,Fail to Weigh,2024-05-02 09:21:08,tr45,None,Truck Status,,,,,,,Available,None,None
113,fail_weightr30,Fail to Weigh,2024-05-02 10:03:39,tr30,None,Is_normal,,,,,,,,,abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,fail_weightr40,Fail to Weigh,2024-06-04 11:45:34,tr40,None,Truck Status,,,,,,,Available,None,None
3206,fail_weightr46,Fail to Weigh,2024-06-04 12:07:41,tr46,None,Truck Status,,,,,,,Available,None,None
3207,fail_weightr46,Fail to Weigh,2024-06-04 12:07:41,tr46,None,Is_normal,,,,,,,,,abnormal
3226,fail_weightr42,Fail to Weigh,2024-06-04 16:12:34,tr42,None,Truck Status,,,,,,,Available,None,None
3227,fail_weightr42,Fail to Weigh,2024-06-04 16:12:34,tr42,None,Is_normal,,,,,,,,,abnormal

In [106]:
rest_df = trucks_xes[trucks_xes ['activity'] != 'Fail to Weigh']
rest_df

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:12:39,tr36,None,Truck Status,,Pcp5,Cr2,,,9540.2,Occupied,None,None
1,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:13:36,tr35,None,Truck Status,,Pcp5,Cr2,,,9325.6,Occupied,None,None
2,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:14:36,tr26,None,Truck Status,,Pcp5,Cr2,,,9447.6,Occupied,None,None
3,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:15:14,tr23,None,Truck Status,,Pcp5,Cr2,,,9398.5,Occupied,None,None
4,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:15:34,tr17,None,Truck Status,,Pcp5,Cr2,,,9517.4,Occupied,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,eval_trs_exittr13_Pcp6,Evaluate the Truck Exit,2024-06-07 08:27:16,tr13,None,Truck Status,,,,,,,Available,None,None
3310,weigh_loaded_trucktr21,Weigh the Loaded Truck,2024-06-07 11:57:15,tr21,WS11,Truck Weight,,,,,,,,21189.3,None
3311,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3312,print_w_tickettr21,Print the Weighing Ticket,2024-06-07 16:46:41,tr21,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3313,eval_trs_exittr21_Pcp8,Evaluate the Truck Exit,2024-06-07 19:21:02,tr21,None,Truck Status,,,,,,,Available,None,None

In [107]:
fail = fail_df.groupby(['event_id', 'timestamp']).apply(merge_group_rows_with_field).reset_index(drop=True)
fail

C:\Users\n9810200\AppData\Local\Temp/ipykernel_36696/3204158364.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  fail = fail_df.groupby(['event_id', 'timestamp']).apply(merge_group_rows_with_field).reset_index(drop=True)

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,fail_weightr1,Fail to Weigh,2024-05-10 15:14:25,tr1,None,Is_normal,,,,,,,Available,,abnormal
1,fail_weightr1,Fail to Weigh,2024-05-14 07:55:15,tr1,None,Truck Status,,,,,,,Available,,abnormal
2,fail_weightr1,Fail to Weigh,2024-05-15 08:06:32,tr1,None,Truck Status,,,,,,,Available,,abnormal
3,fail_weightr1,Fail to Weigh,2024-05-16 17:28:58,tr1,None,Truck Status,,,,,,,Available,,abnormal
4,fail_weightr1,Fail to Weigh,2024-05-20 15:56:16,tr1,None,Is_normal,,,,,,,Available,,abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,fail_weightr8,Fail to Weigh,2024-05-13 12:39:14,tr8,None,Truck Status,,,,,,,Available,,abnormal
250,fail_weightr8,Fail to Weigh,2024-05-23 16:28:59,tr8,None,Truck Status,,,,,,,Available,,abnormal
251,fail_weightr9,Fail to Weigh,2024-05-13 17:23:56,tr9,None,Is_normal,,,,,,,Available,,abnormal
252,fail_weightr9,Fail to Weigh,2024-05-22 08:34:25,tr9,None,Truck Status,,,,,,,Available,,abnormal
253,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Truck Status,,,,,,,Available,,abnormal

In [108]:
trucks = pd.concat([fail, rest_df]).sort_values(by='timestamp').reset_index(drop=True)
trucks

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal
0,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:12:39,tr36,None,Truck Status,,Pcp5,Cr2,,,9540.2,Occupied,None,None
1,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:13:36,tr35,None,Truck Status,,Pcp5,Cr2,,,9325.6,Occupied,None,None
2,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:14:36,tr26,None,Truck Status,,Pcp5,Cr2,,,9447.6,Occupied,None,None
3,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:15:14,tr23,None,Truck Status,,Pcp5,Cr2,,,9398.5,Occupied,None,None
4,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:15:34,tr17,None,Truck Status,,Pcp5,Cr2,,,9517.4,Occupied,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,eval_trs_exittr13_Pcp6,Evaluate the Truck Exit,2024-06-07 08:27:16,tr13,None,Truck Status,,,,,,,Available,None,None
3056,weigh_loaded_trucktr21,Weigh the Loaded Truck,2024-06-07 11:57:15,tr21,WS11,Truck Weight,,,,,,,,21189.3,None
3057,print_w_tickettr21,Print the Weighing Ticket,2024-06-07 16:46:41,tr21,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3058,input_tally_sheettr21,Input the Tally Sheet,2024-06-07 16:46:41,tr21,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3059,eval_trs_exittr21_Pcp8,Evaluate the Truck Exit,2024-06-07 19:21:02,tr21,None,Truck Status,,,,,,,Available,None,None

In [109]:
# Order the dataframe by 'ocel_object_id' and 'timestamp'
truck_ordered = trucks.sort_values(by=['ocel_object_id', 'timestamp']).reset_index(drop=True)

# Reinitialize the 'pickup' column
truck_ordered['pickup'] = None

# Initialize variables to track pickups
pickup_id = 0
assigning_pickup = False
current_truck = None

# Iterate over the rows to assign pickup IDs
for idx, row in truck_ordered.iterrows():
    activity = row['activity']
    truck_id = row['ocel_object_id']

    if activity == "Assign Trucks":
        pickup_id += 1
        assigning_pickup = True
        current_truck = truck_id
        truck_ordered.at[idx, 'pickup'] = pickup_id

    elif assigning_pickup and truck_id == current_truck:
        truck_ordered.at[idx, 'pickup'] = pickup_id
        if activity in ["Evaluate the truck exit", "fail to weigh"]:
            assigning_pickup = False

In [110]:
truck_ordered

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal,pickup
0,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Truck Status,,Pcp5,Cr2,,,9370.3,Occupied,None,None,1
1,trs_entrytr1,Enter the port,2024-05-02 07:47:41,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,weigh_empty_trucktr1,Weigh the Empty Truck,2024-05-02 09:32:55,tr1,WS07,Truck Weight,,,,,,,,12559.0,None,1
3,check_abnormalitytr1,Check Empty Truck Weight Abnormality,2024-05-02 10:49:45,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,arrive_at_Silo20,Arrive at the Silo,2024-05-02 14:13:48,tr1,None,Is_normal,,,,,,,,,normal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,Truck Status,,Pcp8,Cr13,,,9375.8,Occupied,None,None,433
3056,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433
3057,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,Truck Weight,,,,,,,,15531.2,None,433
3058,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433
3059,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Truck Status,,,,,,,Available,,abnormal,433

In [111]:
pickup_plan_ids = truck_ordered.dropna(subset=['Pickup Plan ID']).drop_duplicates(subset=['pickup'])[['pickup', 'Pickup Plan ID']]
pickup_plan_ids

     pickup Pickup Plan ID
0         1           Pcp5
10        2          Pcp10
15        3           Pcp3
20        4           Pcp7
25        5           Pcp8
...     ...            ...
3025    429           Pcp1
3030    430           Pcp6
3040    431           Pcp2
3045    432          Pcp10
3055    433           Pcp8

[433 rows x 2 columns]

In [112]:
data = pd.merge(truck_ordered, pickup_plan_ids, on='pickup', how='left', suffixes=('', '_filled'))
data

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,ocel_changed_field,RFID No,Pickup Plan ID,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal,pickup,Pickup Plan ID_filled
0,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,Truck Status,,Pcp5,Cr2,,,9370.3,Occupied,None,None,1,Pcp5
1,trs_entrytr1,Enter the port,2024-05-02 07:47:41,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Pcp5
2,weigh_empty_trucktr1,Weigh the Empty Truck,2024-05-02 09:32:55,tr1,WS07,Truck Weight,,,,,,,,12559.0,None,1,Pcp5
3,check_abnormalitytr1,Check Empty Truck Weight Abnormality,2024-05-02 10:49:45,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Pcp5
4,arrive_at_Silo20,Arrive at the Silo,2024-05-02 14:13:48,tr1,None,Is_normal,,,,,,,,,normal,1,Pcp5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,Truck Status,,Pcp8,Cr13,,,9375.8,Occupied,None,None,433,Pcp8
3056,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433,Pcp8
3057,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,Truck Weight,,,,,,,,15531.2,None,433,Pcp8
3058,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433,Pcp8
3059,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,Truck Status,,,,,,,Available,,abnormal,433,Pcp8

In [113]:
data = data.drop(columns=['ocel_changed_field','Pickup Plan ID'])
data

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,RFID No,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal,pickup,Pickup Plan ID_filled
0,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,,Cr2,,,9370.3,Occupied,None,None,1,Pcp5
1,trs_entrytr1,Enter the port,2024-05-02 07:47:41,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Pcp5
2,weigh_empty_trucktr1,Weigh the Empty Truck,2024-05-02 09:32:55,tr1,WS07,,,,,,,12559.0,None,1,Pcp5
3,check_abnormalitytr1,Check Empty Truck Weight Abnormality,2024-05-02 10:49:45,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Pcp5
4,arrive_at_Silo20,Arrive at the Silo,2024-05-02 14:13:48,tr1,None,,,,,,,,normal,1,Pcp5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,,Cr13,,,9375.8,Occupied,None,None,433,Pcp8
3056,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433,Pcp8
3057,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,,,,,,,15531.2,None,433,Pcp8
3058,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433,Pcp8
3059,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,,,,,,Available,,abnormal,433,Pcp8

In [114]:
data.rename(columns={'Pickup Plan ID_filled': 'Pickup Plan ID'}, inplace=True)

In [115]:
data

,event_id,activity,timestamp,ocel_object_id,ocel_IoT_object_id,RFID No,Cargo ID,LPT,Axles,Scheduled Pickup Weight,Truck Status,Truck Weight,Is_normal,pickup,Pickup Plan ID
0,assign_trs_Pcp5,Assign Trucks,2024-05-01 10:25:17,tr1,None,,Cr2,,,9370.3,Occupied,None,None,1,Pcp5
1,trs_entrytr1,Enter the port,2024-05-02 07:47:41,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Pcp5
2,weigh_empty_trucktr1,Weigh the Empty Truck,2024-05-02 09:32:55,tr1,WS07,,,,,,,12559.0,None,1,Pcp5
3,check_abnormalitytr1,Check Empty Truck Weight Abnormality,2024-05-02 10:49:45,tr1,rfidWKFZQT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Pcp5
4,arrive_at_Silo20,Arrive at the Silo,2024-05-02 14:13:48,tr1,None,,,,,,,,normal,1,Pcp5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3055,assign_trs_Pcp8,Assign Trucks,2024-05-30 12:14:11,tr9,None,,Cr13,,,9375.8,Occupied,None,None,433,Pcp8
3056,trs_entrytr9,Enter the port,2024-06-03 12:05:40,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433,Pcp8
3057,weigh_empty_trucktr9,Weigh the Empty Truck,2024-06-03 13:17:39,tr9,WS17,,,,,,,15531.2,None,433,Pcp8
3058,check_abnormalitytr9,Check Empty Truck Weight Abnormality,2024-06-03 13:34:09,tr9,rfidRJSTWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,433,Pcp8
3059,fail_weightr9,Fail to Weigh,2024-06-03 15:41:21,tr9,None,,,,,,Available,,abnormal,433,Pcp8

In [116]:
data.to_csv('truck_processes.csv', index = False)